const swPrefix    = 'v10'; // we need to update version number with every change of this file
const manifestId  = '<%= Webpacker.manifest.object_id %>';
const appJsPrefix = '<%= (Webpacker.manifest.lookup("application.js") || "init").split("-").last.split(".").first %>';
const CACHE_NAME  = `service-worker-cache-sw-${swPrefix}-app-${manifestId}-${appJsPrefix}`;

// while installing service worker we have to cache all needed assets and urls for offline work
function onInstall(event) {
  self.skipWaiting();
  event.waitUntil(
    caches.open(CACHE_NAME).then((cache) => {
      console.log('START CACHING'); // eslint-disable-line no-console
      const cached = cache.addAll([
        '<%= Webpacker.manifest.lookup("application-rtl.js") %>',
        '<%= Webpacker.manifest.lookup("application.js") %>',
        '<%= Webpacker.manifest.lookup("application.css") %>',
        '<%= Webpacker.manifest.lookup("application-rtl.css") %>',
        '<%= Webpacker.manifest.lookup("bootstrap.css") %>',
        'ar/reservations',
        'ar/reservations/1',
        '/reservations',
        '/reservations/1',
        '/api/v1/rooms/rooms',
        '/favicon.ico'
      ].map(url => new Request(url, { credentials: 'same-origin' })));
      console.log('CACHED EVERYTHING NEEDED'); // eslint-disable-line no-console
      return cached;
    })
  );
}

// When a new service worker becomes the active one,
// it is safe to delete all other caches created by past service workers.
function onActivate(event) {
  console.log('[Serviceworker]', 'Activating...', event); // eslint-disable-line no-console
  event.waitUntil(
    caches.keys().then((cacheNames) => {
      console.log(cacheNames); // eslint-disable-line no-console
      // removes cache created by older versions of our servicworker
      return Promise.all(
        cacheNames.map((cacheName) => {
          // eslint-disable-next-line no-console
          console.log(cacheName, ' deleted:', CACHE_NAME !== cacheName && cacheName.startsWith('service-worker-cache'));
          if (CACHE_NAME !== cacheName && cacheName.startsWith('service-worker-cache')) {
            return caches.delete(cacheName);
          }
          return true;
        })
      );
    })
  );
}

// works like a middleware for browser requests.
function onFetch(event) {
  // TODO: show page with needed info
  const offlineHTMLResponse = new Response('<h1> You are offline. Sorry, there is no cached html pages </h1>',
    { headers: { 'Content-Type': 'text/html' } });
  const isJSRequest  = event.request.url.match(/(.js)/) !== null;
  const isApiRequest = event.request.url.match(/(\/api\/)/) !== null;
  const jsResponse   = new Response('', { headers: { 'Content-Type': 'text/javascript' } });

  if (event.request.url.match(/(sockjs-node)/)) { return; }
  if (event.request.method !== 'GET') { return; }
  if (isApiRequest) { return; }

  event.respondWith(
    async function cacheOrResponse() {
      const cachedResponse = await caches.match(event.request); // search for the cache if we can
      const cachedReservationsHTMLResponse = await caches.match('/reservations');

      // Else try the network.
      return (
        fetch(event.request).then((fetchResponse) => {
          // remember in cache
          caches.open(CACHE_NAME).then((cache) => {
            cache.put(event.request, fetchResponse);
          });

          return fetchResponse.clone();
        }).catch(() => (
          cachedResponse || (isJSRequest && jsResponse) || cachedReservationsHTMLResponse || offlineHTMLResponse
        ))
      );
    }()
  );
}

self.addEventListener('install', onInstall); // eslint-disable-line no-restricted-globals
self.addEventListener('activate', onActivate); // eslint-disable-line no-restricted-globals
self.addEventListener('fetch', onFetch); // eslint-disable-line no-restricted-globals
