
h1 Night audit report

table.table.table-striped.table-condensed
  tbody
    tr
      td = t('audits.report.template.date')
      td = audit_date
    tr
      td= t('audits.report.template.hotel_name')
      td= hotel_name
    tr
      td= t('audits.report.template.occupied_rooms')
      td= occupied_rooms_count
    tr
      td= t('audits.report.template.available_rooms')
      td= available_rooms_count
    tr
      td= t('audits.report.template.check_ins')
      td= check_ins_count
    tr
      td= t('audits.report.template.check_outs')
      td= check_outs_count
    tr
      td= t('audits.report.template.no_shows')
      td= no_shows_count
    tr
      td= t('audits.report.template.dnrs')
      td= dnrs_count
    tr
      td= t('audits.report.template.cancelations')
      td= cancellations_count
    tr
      td= t('audits.report.template.room_revenue')
      td= room_revenue
    tr
      td= t('audits.report.template.no_shows_revenue')
      td= no_shows_revenue
    tr
      td= t('audits.report.template.cancelations_revenue')
      td= cancellations_revenue
    tr
      td= t('audits.report.template.booking_revenue')
      td= booking_revenue
    tr
      td= t('audits.report.template.room_vat')
      td= room_vat
    tr
      td= t('audits.report.template.room_tax')
      td= room_municipality_tax
    tr
      td= t('audits.report.template.sellable_items_var')
      td= sellable_items_vat
