- attrs = Invoices::Charge.new.attributes.without("updated_at").keys
.card.shadow.mb-4
  = link_to "#charges", class: 'd-block card-header py-3 collapsed',
                       data: { toggle: 'collapse' },
                       role: 'button',
                       aria: { expanded: true, controls: 'charges'} do
    h6.m-0.font-weight-bold.text-primary
      ' Charges generated by this audit:
      = @audit.charges.count

  .collapse#charges
    .card-body
      table.table.table-bordered.small
        thead
          - attrs.each do |attr_name|
            th = attr_name.humanize
        tbody
          - @audit.charges.each do |error_log|
            tr
              - attrs.each do |attr_name|
                td = error_log.public_send(attr_name)
