- attrs = Audits::ErrorLog.new.attributes.without("updated_at").keys
.card.shadow.mb-4
  = link_to "#errors", class: 'd-block card-header py-3 collapsed',
                       data: { toggle: 'collapse' },
                       role: 'button',
                       aria: { expanded: true, controls: 'errors'} do
    h6.m-0.font-weight-bold.text-primary
      ' Errors Logs:
      = @audit.error_logs.count

  .collapse#errors
    .card-body
      table.table.table-bordered
        thead
          - attrs.each do |attr_name|
            th = attr_name.humanize
        tbody
          - @audit.error_logs.each do |error_log|
            tr
              - attrs.each do |attr_name|
                td = error_log.public_send(attr_name)
