tr *{id: dom_id(audit)}
  td = audit.id
  td = link_to "Hotel ##{audit.hotel_id}", admin_hotel_path(audit.hotel_id)
  td = audit.status
  td = audit.started_at ? l(audit.started_at, format: :long) : '-'
  td = audit.time_frame_begin ? "#{l(audit.time_frame_begin, format: :long)} - #{l(audit.time_frame_end, format: :long)}" : '-'
  td
    = link_to 'Details', admin_audit_path(audit), class: 'btn btn-primary btn-sm'

