.row
  .col-lg-12
    = search_form_for @q, url: admin_audits_path, builder: SimpleForm::FormBuilder, class: 'form-inline' do |f|
     .form-row
        .col
          = f.input :hotel_id_eq, label: 'Hotel ID', required: false, input_html: { class: 'form-control' }
        .col
          = f.input :status_eq, as: :select,
                                collection: ::Audits::Audit.statuses,
                                input_html: { class: 'form-control' },
                                label: 'Status',
                                required: false

        = f.submit 'Search', class: 'btn btn-primary mt-4'
br
