.row
  .col-lg-12
    h1.page-header Audits

hr.sidebar-divider

= render 'search'

hr.sidebar-divider

.row
  .col-lg-12
    table.table.table.table-bordered.is-breakable
      tr
        th = ::Audits::Audit.human_attribute_name(:id)
        th = ::Audits::Audit.human_attribute_name(:hotel_id)
        th = ::Audits::Audit.human_attribute_name(:status)
        th = ::Audits::Audit.human_attribute_name(:started_at)
        th Period
        / th = sort_link(@q, :status_eq, 'Status')
        th Actions
      = render collection: @audits, partial: 'item', as: :audit

.row
  .col-lg-12
    = paginate @audits
