.row
  .col-lg-4
    h1.page-header = "Audit ##{@audit.id}"
  .col-lg-8
    - unless @audit.running?
      = button_to 'Initaite', initiate_admin_audit_path(@audit), class: 'btn btn-primary btn-sm mr-1 float-right', method: :post
      = button_to 'Force run', force_run_admin_audit_path(@audit), class: 'btn btn-primary btn-sm mr-1 float-right', method: :post

.row
  .col-lg-12
    .card.shadow.mb-4
      = link_to "#base", class: 'd-block card-header py-3', data: { toggle: 'collapse' }, role: 'button', aria: { expanded: true, controls: 'base'} do

        h6.m-0.font-weight-bold.text-primary Base Info
      .collapse.show#base
        .card-body
          table.table.table-bordered
            tbody
              tr
                td ID
                td = @audit.id
              tr
                td Hotel
                td = link_to "Hotel ##{@audit.hotel_id}", admin_hotel_path(@audit.hotel)
              tr
                td Status
                td = @audit.status
              tr
                td Started At
                td = @audit.started_at ? l(@audit.started_at, format: :long) : '-'
              tr
                td Period
                td = @audit.time_frame_begin ? "#{l(@audit.time_frame_begin, format: :long)} - #{l(@audit.time_frame_end, format: :long)}" : '-'
              tr
                td Last PDF report
                td = @audit.pdf_report&.file ? (link_to 'Download PDF', @audit.pdf_report.file.url) : ' - '
              tr
                td Reservations IDs to be marked as no-show
                td = @audit.hotel.reservations.must_be_marked_as_no_show(@audit.time_frame_end.to_date).pluck(:id).sort.join(', ')
    = render 'error_logs'
    = render 'charges'
