h2.zr-login-title
  = t('.sign_up')
h4.zr-login-subtitle
  = t('.enter_your_details_below')
fieldset.zr-login-formset
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "zr-login-form"}) do |f|
    .zr-login-form-body
      / = devise_error_messages!
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_email" 
            = t('.email')
          - if f.object.errors[:email].any?
            span.zr-validation-msg.error
              span.zr-validation-msg-text
                - if f.object.errors.messages[:email].first.include?('already') || f.object.errors.messages[:email].first.include?('محجوز')
                  = t('.already_taken')
                - elsif f.object.errors.messages[:email].first.include?('blank') || f.object.errors.messages[:email].first.include?('فارغاً')
                  = t('.email_is_required')
                - else
                  = t('.email_is_invalid')
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status.focus
          = f.text_field :email, autofocus: false, class: 'form-control zr-input-flat', type: :text
          .zr-icon-box.zr-icon-box-success
            svg.icon.icon-check aria-hidden="true"
              use xlink:href="#icon-check"
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_password"
            = t('.password')
          - if f.object.errors[:password].any?
            span.zr-validation-msg.error 
              span.zr-validation-msg-text
                - if f.object.errors.messages[:password].first.include?('blank') || f.object.errors.messages[:password].first.include?('فارغاً')
                  = t('.password_is_required')
                - else
                  = t('.password_is_invalid')
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status.zr-form-control-group-has-append.focus
          = f.password_field :password, autocomplete: "off", class: 'form-control zr-input-flat'
          button.zr-btn-icon.zr-btn-icon-eye type="button" id="password-reveal"
            svg.icon.icon-eye-closed aria-hidden="true"
              use xlink:href="#icon-eye-closed"
            svg.icon.icon-eye-opened aria-hidden="true"
              use xlink:href="#icon-eye-opened"
          button.zr-btn-input-append.zr-btn-icon type="button" id="password-prompt"
            svg.icon.icon-question aria-hidden="true"
              use xlink:href="#icon-question"
          div.zr-form-control-tooltip id="password-prompt-tooltip"
            ul.zr-form-control-tooltip-list
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_a_item') 
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_b_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_c_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_d_item')
            button.zr-btn-icon.zr-form-control-tooltip-close type='button' 
              svg.icon.icon-close aria-hidden="true"
                use xlink:href="#icon-close"
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_password_confirmation"
            = t('.confirm_password')
          - if f.object.errors[:password_confirmation].any?
            span.zr-validation-msg.error 
              span.zr-validation-msg-text
                - if f.object.errors.messages[:password_confirmation].first.include?('match') || f.object.errors.messages[:password_confirmation].first.include?('لا يتوافق')
                  = t('.confirm_password_does_not_match')
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status.zr-form-control-group-has-append.focus
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control zr-input-flat'
          button.zr-btn-icon.zr-btn-icon-eye type="button" id="password-confirmation-reveal"
            svg.icon.icon-eye-closed aria-hidden="true"
              use xlink:href="#icon-eye-closed"
            svg.icon.icon-eye-opened aria-hidden="true"
              use xlink:href="#icon-eye-opened"
          button.zr-btn-input-append.zr-btn-icon type="button" id="password-confirmation-prompt"
            svg.icon.icon-question aria-hidden="true"
              use xlink:href="#icon-question"
          div.zr-form-control-tooltip id="password-confirmation-prompt-tooltip"
            ul.zr-form-control-tooltip-list
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_a_item') 
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_b_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_c_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_d_item')
            button.zr-btn-icon.zr-form-control-tooltip-close type='button' 
              svg.icon.icon-close aria-hidden="true"
                use xlink:href="#icon-close"
      .form-group.zr-form-group-btns
        = f.submit t('.sign_up'), class: "btn btn-primary zr-btn-lg"
        = render "devise/shared/forgot_link"
    .zr-login-form-footer
      .zr-login-form-footer-msg
        = t('devise.shared.links.have_an_account')
      = render "devise/shared/links"