.zr-devise-notification.zr-devise-notification-email-confirmation
  svg.zr-devise-notification-image
    use xlink:href="#icon-email"
  .zr-devise-notification-msg
    span
      = t('devise.registrations.notification.message').html_safe
    = t('devise.registrations.notification.link', link: new_user_confirmation_path).html_safe
