- if !controller_name.in?(['sessions', 'passwords', 'confirmations'])
  = link_to t('.sign_in'), new_session_path(resource_name), class: 'zr-form-link zr-form-link-sign-in'
- if devise_mapping.registerable? && !controller_name.in?(['registrations', 'passwords', 'confirmations'])
  = link_to t('.sign_up'), new_registration_path(resource_name), class: 'zr-form-link zr-form-link-sign-up'
- if controller_name.in?(['passwords', 'confirmations'])
  .zr-login-form-footer-row
        .zr-login-form-footer-msg
          = t('.dont_have_an_account')
        = link_to t('.sign_up'), new_registration_path(resource_name), class: 'zr-form-link zr-form-link-sign-up'
  .zr-login-form-footer-row
        .zr-login-form-footer-msg
          = t('.have_an_account')
        = link_to t('.sign_in'), new_session_path(resource_name), class: 'zr-form-link zr-form-link-sign-in'
/- if devise_mapping.confirmable? && controller_name != 'confirmations'
  = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
  br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
