@import "~styles/mixins";

.zr-sidebar {
  order: 0;
  flex: 0 0 200px;
  align-self: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  @include transition( all 0.6s ease);

  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  @media #{$M_LG} {
    position: fixed;
    top: 0;
    #{$left}: 0;
    z-index: 3;
    height: 100%;
    flex: 0 0 60px;
    width: 60px;
    @include transition( all 0.6s ease);
  }
  .zr-layout.log-in & {
    @media #{$M_LG} {
      position: static;
      flex: 0 0 200px;
      width: 200px;
    }
  }
  @media #{$M_XS} {
    position: fixed;
    top: 0;
    #{$left}: -200px;
    z-index: 3;
    height: 100%;
    flex: 0 0 200px;
    width: 200px;
    @include transition( all 0.6s ease);
  }
  .zr-layout.log-in & {
    @media #{$M_XS} {
      position: static;
    }
  }
  &.opened {
    @media #{$M_XS} {
      #{$left}: 0;
    }
  }
  &:hover {
    @media #{$M_LG} {
      width: 200px;
      @include transition( all 0.6s ease);
    }
  }
  &:hover+.zr-overlay {
    @media #{$M_LG} {
      transition: width 0s linear 0s, opacity 0.3s ease-in 0.3s, visibility 0.3s ease-in 0.3s;
      opacity: 1;
      visibility: visible;
      width: 100%;
    }    
  }
  &.opened+.zr-overlay {
    @media #{$M_XS} {
      transition: width 0s linear 0s, opacity 0.3s ease-in 0.6s, visibility 0.3s ease-in 0.6s;
      opacity: 1;
      visibility: visible;
      width: 100%;
    }    
  }
  &-header {
    order: 0;
    flex: 0 0 70px;
    align-self: auto;
    background-color: $gray-900;
    @media #{$M_XS} {
      position: relative;
    }
  }
  &-logo {
    padding: 20px 20px 12px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    
    height: 100%;
    min-width: 0;
    font-size: 24px;
    line-height: 1.3333;
    letter-spacing: 4px;
    color: $white;
    background-color: $gray-900;
    white-space: nowrap;
    vertical-align: top;
    text-align: #{$left} !important;
    direction: ltr !important;
    #AppRoot [dir=rtl] & {
      justify-content: flex-end;
    }
    #AppRoot [dir=rtl] .zr-layout.log-in &,
    .zr-layout.log-in & {
      justify-content: center;
    }
    @media #{$M_XS} {
      position: fixed;
      #{$left}: 0;
      top: 0;
      width: 60px;
      height: 70px;
      @include transition;
    }
    .zr-layout.log-in & {
      @media #{$M_XS} {
        position: static;
        width: 200px;
      }
    }
    .zr-sidebar.opened & {
      @media #{$M_XS} {
        width: 200px;
        @include transition( all 0.3s ease 0.3s);
      }
    }
    &-rest {
      display: block;
      min-width: 0;
      flex: 0 0 auto;
      overflow: hidden;
      opacity: 1;
      visibility: visible;
      @include transition;
      @media #{$M_LG} {
        flex: 0 1 0;

        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      @media #{$M_XS} {
        flex: 0 1 0;

        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      .zr-layout.log-in & {
        @media #{$M_LG} {
          flex: 0 0 auto;
          opacity: 1;
          visibility: visible;
        }
        @media #{$M_XS} {
          flex: 0 0 auto;
          opacity: 1;
          visibility: visible;
        }
      }
      .zr-sidebar:hover & {
        @media #{$M_LG} {
          flex: 0 0 auto;

          opacity: 1;
          visibility: visible;
          @include transition;
        }
      }
      .zr-sidebar.opened & {
        @media #{$M_XS} {
          flex: 0 0 auto;

          opacity: 1;
          visibility: visible;
          @include transition( all 0.3s ease 0.5s);
        }
      }
    }
    &-short {
      display: block;

      flex: 0 0 auto;
    }
    &:hover {
      color: $white;
      background-color: rgba($gray-900, 0.9);
      text-decoration: none;
      .menu-icon {
        fill: $white;
      }
    }
  }
  &-content {
    padding-bottom: 10px;

    order: 0;
    flex: 1 1 0;
    align-self: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    .zr-layout.log-in & {
      padding: 17px 37px;
    }
  }
  &-msg {
    font-size: 12px;
    line-height: 1.334;
    color: $white;
    text-align: center;
    opacity: 0.6;
  }
  &-nav {
    margin-bottom: 20px;

    order: 0;
    flex: 0 0 auto;
    align-self: auto;
  }
  &-pointers {
    @include list-reset;
    margin-top: auto;
    padding-#{$left}: 28px;
    padding-#{$right}: 24px;
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
    @include transition;
    @media #{$M_LG} {
      padding-#{$left}: 24px;
    }
    .zr-sidebar:hover & {
      @media #{$M_LG} {
        padding-#{$left}: 28px;
      }
    }
    @media #{$M_XS} {
      padding-#{$left}: 24px;
    }
    .zr-sidebar.openened & {
      @media #{$M_XS} {
        padding-#{$left}: 28px;
      }
    }
  }
  &-pointer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    &-status {
      margin-top: 2px;
      margin-#{$right}: 12px;
      display: block;

      order: 0;
      flex: 0 0 12px;
      align-self: auto;
      
      height: 12px;
      border-radius: 50%;
    }
    &-name {
      margin-bottom: 10px;
      display: block;

      order: 0;
      flex: 1 1 0;
      align-self: auto;

      font-size: 13px;
      line-height: 1.31;
      color: $gray-600;
      min-width: 0;
      @media #{$M_LG} {
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      @media #{$M_XS} {
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        visibility: hidden;
        @include transition( all 0.3s ease);
      }
      .zr-sidebar:hover & {
        @media #{$M_LG} {
          opacity: 1;
          visibility: visible;
        }
      }
      .zr-sidebar.opened & {
        @media #{$M_XS} {
          opacity: 1;
          visibility: visible;
          @include transition( all 0.3s ease 0.5s);
        }
      }
    }
  }
}
.zr-nav {
  @include list-reset;  
  &-item {
    display: block;
    &.dropdown {
      position: static;
    }
    &-link {
      position: relative;
      padding-top: 16px;
      padding-#{$left}: 54px;
      padding-#{$right}: 30px;
      padding-bottom: 12px;
      display: block;
      min-height: 50px;
      font-size: 15px;
      line-height: 1.26667;
      color: $gray-600;
      @include transition;
      &:focus {
        outline:none;
      }
      &:-moz-focus-inner {
        border: 0;
      }
      @media #{$M_LG} {
        padding-#{$right}: 6px;
        overflow: hidden;
      }
      &:hover {
        color: $white;
        background-color: rgba(0,0,0,0.1);
        text-decoration: none;
        @include transition;
        .zr-nav-item-icon {
          fill: $white;
          @include transition;
        }
      }
      &::before {
        position: absolute;
        top: 0;
        #{$left}: 0;
        display: block;
        height: 100%;
        width: 5px;
        content: '';
        background-color: #A3A0FB;
        opacity: 0;
        @include transition;
      }
      &.active {
        color: $white;
        background-color: rgba(0,0,0,0.1);
        @include transition;
        &::before {
          opacity: 1;
          @include transition;
        }
        .zr-nav-item-icon {
          fill: $white;
          @include transition;
        }
      }
      &.dropdown-toggle:after {
        display: none;
      }
      &.dropdown-toggle {
        color: $white;
        background-color: rgba(0,0,0,0.1);
        @include transition;
        .zr-nav-item-icon {
          fill: $white;
        }
        .zr-nav-item-arrow {
          transition: transform 0.3s;
          transform: rotate(180deg);
        }
      }
      &.dropdown-toggle {
        .zr-sidebar & .zr-nav-item-arrow {
          @media #{$M_LG} {
            opacity: 0;
            visibility: hidden;
            transition: transform 0.3s, visibility 0.2s ease, opacity 0.2s ease;
          }
        }
        .zr-sidebar:hover & .zr-nav-item-arrow {
          @media #{$M_LG} {
            opacity: 1;
            visibility: visible;
            transition: transform 0.3s, visibility 0.2s ease 0.5s, opacity 0.2s ease 0.5s;
          }
        }
      }
      &.dropdown-toggle.collapsed {
        color: $gray-600;
        background-color: transparent;
        @include transition;
        .zr-nav-item-icon {
          fill: $gray-600;
        }
        .zr-nav-item-arrow {
          @include transition;
          transform: rotate(0deg);
          @media #{$M_LG} {
            opacity: 0;
            visibility: hidden;
            transition: transform 0.3s, visibility 0.2s ease, opacity 0.2s ease;
            @include transition;
          }
          @media #{$M_XS} {
            opacity: 0;
            visibility: hidden;
            transition: transform 0.3s, visibility 0.2s ease, opacity 0.2s ease;
            @include transition;
          }
        }
        .zr-sidebar:hover & .zr-nav-item-arrow {
          @media #{$M_LG} {
            opacity: 1;
            visibility: visible;
            transition: transform 0.3s, visibility 0.2s ease 0.5s, opacity 0.2s ease 0.5s;
          }
        }
        .zr-sidebar.opened & .zr-nav-item-arrow {
          @media #{$M_XS} {
            opacity: 1;
            visibility: visible;
            transition: transform 0.3s, visibility 0.2s ease 0.5s, opacity 0.2s ease 0.5s;
          }
        }
        &:hover {
          color: $white;
          background-color: rgba(0,0,0,0.1);
          .zr-nav-item-icon {
            fill: $white;
          }
        }
      }
      &.dropdown-toggle.active.collapsed {
        color: $white;
        background-color: rgba(0,0,0,0.1);
        @include transition;
        .zr-nav-item-icon {
          fill: $white;
        }
      }
    }
    &-icon {
      $iW: 22px;
      $iH: 22px;
      
      position: absolute;
      top: 50%;
      #{$left}: 21px;
      margin-top: -$iH/2;
      display: block;
      width: $iW;
      height: $iH;
      fill:  $gray-600;
      @include transition;
      &.icon-inventory {
        $iW: 16px;
        $iH: 29px;

        #{$left}: 24px;
        margin-top: -$iH/2;
        height: $iH;
        width: $iW;
      }
      &.icon-rates {
        $iW: 26px;
        $iH: 22px;

        #{$left}: 19px;
        margin-top: -$iH/2;
        height: $iH;
        width: $iW;
      }
      &.icon-report {
        $iH: 20px;

        margin-top: -$iH/2;
        height: $iH;
      }
      &.icon-guests {
        $iH: 14px;

        margin-top: -$iH/2;
        height: $iH;
      }
      &.icon-reviews {
        $iH: 21px;

        #{$left}: 22px;
        margin-top: -$iH/2;
      }
      &.icon-hotel-settings {
        $iH: 20px;

        margin-top: -$iH/2;
        height: $iH;
      }
      &.icon-rooms {
        $iH: 19px;

        margin-top: -$iH/2;
        height: $iH;
      }
      &.icon-users {
        $iH: 14px;

        margin-top: -$iH/2;
        height: $iH;
      }
      &.icon-account {
        $iW: 20px;

        #{$left}: 22px;
        width: $iW;
      }
      &.icon-users {
        $iH: 14px;

        margin-top: -$iH/2;
        height: $iH;
      }
      &.icon-account {
        $iW: 20px;

        #{$left}: 22px;
        width: $iW;
      }
    }
    &-name {
      @media #{$M_LG} {
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      @media #{$M_XS} {
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      .zr-sidebar:hover & {
        @media #{$M_LG} {
          opacity: 1;
          visibility: visible;
        }
      }
      .zr-sidebar.opened & {
        @media #{$M_XS} {
          opacity: 1;
          visibility: visible;
          @include transition(all 0.3s ease 0.5s);
        }
      }
    }
    &-arrow {
      position: absolute;
      #{$right}: 15px;
      top: 50%;
      margin-top: -2px;
      display: block;
      width: 11px;
      height: 7px;
      fill: $white;
    }
  }
}
.zr-subnav {
  @include list-reset;

  @media #{$M_LG} {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    height: 0;
    @include transition;
  }
  @media #{$M_XS} {
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    height: 0;
    @include transition;
  }
  .zr-sidebar:hover & {
    @media #{$M_LG} {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
  .zr-sidebar.opened & {
    @media #{$M_XS} {
      opacity: 1;
      visibility: visible;
      height: auto;
      @include transition(all 0.3s ease 0.5s);
    }
  }
  
  &-item {
    display: block;
    border-top: 1px solid $gray-900;
    &:first-child {
      border-top: 0;
    }
  }
  &-item-link {
    padding-top: 16px;
    padding-#{$right}: 30px;
    padding-#{$left}: 21px;
    padding-bottom: 12px;
    display: block;
    min-height: 49px;
    font-size: 15px;
    line-height: 1.26667;
    color: $gray-600;
    @include transition;
    background-color: $zr-subnav-item;
    &:hover {
      color: $white;
      background-color: rgba(0,0,0,0.1);
      text-decoration: none;
      @include transition;
    }
    &.active  {
      color: $white;
      background-color: $zr-subnav-item-active;
      @include transition;
    }
  }
}
