- attrs = Invoices::Discount.new.attributes.without("deleted_at").keys
.card.shadow.mb-4
  = link_to "#discounts", class: 'd-block card-header py-3 collapsed',
                       data: { toggle: 'collapse' },
                       role: 'button',
                       aria: { expanded: true, controls: 'discounts'} do
    h6.m-0.font-weight-bold.text-primary
      ' Discounts:
      = @reservation.discounts.count

  .collapse#discounts
    .card-body
      table.table.table-bordered.small
        thead
          - attrs.each do |attr_name|
            th = attr_name.humanize
        tbody
          - @reservation.discounts.each do |error_log|
            tr
              - attrs.each do |attr_name|
                td = error_log.public_send(attr_name)
