- attrs = Invoices::Invoice.new.attributes.without("deleted_at").keys
.card.shadow.mb-4
  = link_to "#invoice", class: 'd-block card-header py-3 collapsed',
                       data: { toggle: 'collapse' },
                       role: 'button',
                       aria: { expanded: true, controls: 'invoice'} do
    h6.m-0.font-weight-bold.text-primary Invoice

  .collapse#invoice
    .card-body
      table.table.table-bordered.small
        tbody
          - attrs.each do |attr_name|
            tr
              td = attr_name.humanize
              td = @reservation.invoice.public_send(attr_name)
