tr.small *{id: dom_id(reservation)}
  td = reservation.id
  td = reservation.hotel ? (link_to "Hotel ##{reservation.hotel.id}", admin_hotel_path(reservation.hotel)) : ' - '
  td = reservation.dnr? ?  'DNR' : 'Direct'
  td = reservation.check_in_date ? l(reservation.check_in_date) : '-'
  td = reservation.check_in_date ? l(reservation.check_out_date) : '-'
  td = reservation.total_nights
  td = reservation.price_total
  td = reservation.status
  td = reservation.guest ? reservation.guest.email || reservation.guest.phone_number : ' - '
  td
    = link_to 'Details', admin_reservation_path(reservation), class: 'btn btn-primary btn-sm'
