.row
  .col-lg-12
    = search_form_for @q, url: admin_reservations_path, builder: SimpleForm::FormBuilder, class: 'form-inline' do |f|
     .form-row
        .col
          = f.input :room_room_type_hotel_id_eq, label: 'Hotel ID', required: false, input_html: { class: 'form-control' }
        .col
          = f.input :guest_phone_number_or_guest_email_cont, label: 'Guest', required: false, input_html: { class: 'form-control', type: 'text' }
        .col
          = f.input :type_eq, as: :select,
                                collection: [['DNR', 'Reservations::DNR'], ['Direct', 'Reservations::DirectReservation']],
                                input_html: { class: 'form-control' },
                                label: 'Type',
                                required: false
        .col
          = f.input :status_eq, as: :select,
                                collection: ::Reservations::Reservation.statuses.keys,
                                input_html: { class: 'form-control' },
                                label: 'Status',
                                required: false

        = f.submit 'Search', class: 'btn btn-primary mt-4'
br
