.row
  .col-lg-12
    h1.page-header = "Reservations: #{@reservations.count}"

hr.sidebar-divider

= render 'search'

hr.sidebar-divider

.row
  .col-lg-12
    table.table.table.table-bordered.is-breakable
      tr
        th ID
        th Hotel ID
        th Type
        th Check in date
        th Check out date
        th Total Nights
        th Total Price
        th Status
        th Guest
        th Actions
      = render collection: @reservations, partial: 'item', as: :reservation

.row
  .col-lg-12
    = paginate @reservations
