.row
  .col-lg-5
    h1.page-header = "Reservation ##{@reservation.id}"

  .col-lg-7
    = link_to 'Invoice', admin_invoice_path(@reservation.invoice), class: 'btn btn-primary btn-sm mr-1 float-right'
    = link_to 'View on site', "/reservations/#{@reservation.id}", class: 'btn btn-primary btn-sm mr-1 float-right'

.row
  .col-lg-12
    - attrs = Reservations::Reservation.new.attributes.without("deleted_at").keys + %w[total_nights price_total price_per_night]
    .card.shadow.mb-4
      = link_to "#base", class: 'd-block card-header py-3 collapsed',
                           data: { toggle: 'collapse' },
                           role: 'button',
                           aria: { expanded: true, controls: 'base'} do
        h6.m-0.font-weight-bold.text-primary Base info

      .collapse#base
        .card-body
          table.table.table-bordered.small
            tbody
              - attrs.each do |attr_name|
                tr
                  td = attr_name.humanize
                  td = @reservation.public_send(attr_name)

    - if @reservation.direct?
      = render 'invoice'
      = render 'charges'
      = render 'discounts'
      = render 'payments'
