head
  = wicked_pdf_stylesheet_link_tag(asset_pack_path('bootstrap.css'))
  meta charset="utf-8"
  meta http-equiv="Content-type" content="text/html; charset=utf-8"

body style="-webkit-print-color-adjust:exact; font-size: '20px !important'; width: '1000px;'"
  = yield
