@import "~styles/bootstrapCustom/variables";

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Colors

$mystic: #E1E4EE !default;
$hit_gray: #A4AFB7 !default;
$manatee: #8D93A8 !default;
$darkest: #2D303A !default;

$zr-text: #4D4F5C;
$zr-violet: #A3A0FB;

$zr-btn-primary-bg-hover: #46ACFB;
$zr-btn-primary-bd-focus: #0B89E9;
$zr-btn-clear-bg-hover: #EAF0F4;

$zr-subnav-item: #343744;
$zr-subnav-item-active: #2E313C;

$zr-header-bd-grey:#EBEBF2;
$zr-header-item-hover: #F8F9FD;
$zr-header-drop-bd: #D7DAE2;
$zr-header-icon-fill: #BCBCCB;
$zr-header-icon-orange: #FFC06A;
$zr-header-item-dark: #2E313C;

$zr-status-checked-in: #A5D27D;
$zr-status-checked-out: #F17777;
$zr-status-confirmed: #2F70B9;
$zr-status-unconfirmed: #45BEEB;
$zr-status-cancelled: #f00909;
$zr-status-no-show: #E574C3;
$zr-status-dnr: #E5C442;
$zr-status-inactive: #CACED6;

$zr-rezervation-stub-color: #B8BDCF;
$zr-rezervation-bd: #EAF0F4;
$zr-rezervation-row-hover: #F8F9FD;
$zr-rezervation-line-content-color: #A3A6B4;
$zr-rezervation-tfoot-row-bg: #F5F6FA;
$zr-rezervation-thead-arrow-bd: #E8E9EC;

$zr-close-modal-icon: #B8BDCF;
$zr-input-bd: #D7DAE2;
$zr-input-btm-bd: #B8BDCF;
$zr-input-focus-btm-bd: $manatee;
$zr-placeholder-color: #A3A6B4;
$zr-select-hover-bg: #F8F9FD;
$zr-select-option-selected-bg: #EAF0F4;
$zr-control-focus-bd: #EFBA50;

$zr-guest-option-color: #4D4F5C;
$zr-guest-option-bg: #F5F6FA;
$zr-guest-option-hover-bg: #DBDEE9;

$zr-link: #4BA0E1;

$zr-input-flat-color: #434757;
$zr-input-flat-bd: #EAF0F4;
$zr-checkbox-bd: #D7DAE2;
$zr-input-flat-focus-bd: #D6D9E1;
$zr-input-flat-check-icon: #5BDE7E;
$zr-validation-text: #F17777;

$zr-animated-border: rgba(255, 255, 255, 0.6);

$zr-audit-label-bg: #EFBA50;

$zr-rates-collapse-bg: #45ad4e;


// Fonts
$font: $font-family-sans-serif;
$font-alt: $font-family-base-ar;
$normal: 400;
$medium: 500;
$semibold: 600;

// media
$M_XS :     'screen and (max-width: 768px)'; // phones
$M_XSM :    'screen and (max-width: 869px)';
$M_SM :     'screen and (max-width: 992px)'; // tablets
$M_SM_UP :  'screen and (min-width: 993px)'; // from tablets to desktop
$M_SMX :    'screen and (max-width: 1023px)';
$M_SM2X :   'screen and (max-width: 1099px)';
$M_MLG :    'screen and (max-width: 1209px)';
$M_LG :     'screen and (min-width: 769px) and (max-width: 1440px)'; // large desktop

// directions
$left: 'left';
$right: 'right';

$scroll-width: 17px;
