@import 'react-datetime/css/react-datetime.css'; // plugin css

html,
body,
#AppRoot {
  height: 100%;
  font-family: $font;
  text-align: #{$left};
}
body {
  min-width: 710px;
}
.zr {
  &-layout {
    height: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    @media #{$M_LG} {
      padding-#{$left}: 60px;
    }
    @media #{$M_XS} {
      padding-#{$left}: 0;
      overflow-x: hidden;
    }
    &.log-in {
      background-color: $white;
      @media #{$M_LG} {
        padding-#{$left}: 0;
      }
    }
  }
  &-overlay {
    display: none;
    @media #{$M_LG} {
      position: fixed;
      z-index: 2;
      #{$left}: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 0;
      opacity: 0;
      visibility: hidden;
      content: '';
      background-color: rgba($black, .15);
      transition: width 0s linear 0.3s, opacity 0.2s ease, visibility 0.2s ease;
    }
    @media #{$M_XS} {
      position: fixed;
      z-index: 2;
      #{$left}: 0;
      top: 0;
      display: block;
      height: 100%;
      width: 0;
      opacity: 0;
      visibility: hidden;
      content: '';
      background-color: rgba($black, .15);
      transition: width 0s linear 0.3s, opacity 0.2s ease, visibility 0.2s ease;
    }
  }
  &-page {
    order: 0;
    flex: 1 1 0;
    align-self: auto;

    min-width: 0;
    min-height: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    @media #{$M_LG} {
      position: relative;
      z-index: 1;
    }
    @media #{$M_XS} {
      position: relative;
      z-index: 1;
    }
  }

  &-main {
    padding: 24px 20px 20px;
    position: relative;

    order: 0;
    flex: 1 1 0;
    align-self: auto;
    // overflow-y: auto;
    min-height: 0;
    @media #{$M_XS} {
      padding: 24px 0 0;
    }
  }
  &-main-content {
    height: 100%;
    min-width: 0;
    min-height: 0;
    .modal {
      overflow-y: auto;
    }
  }
  &-footer {
    padding: 26px 20px 20px;
    order: 0;
    flex: 0 0 70px;
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    &-nav {
      margin-#{$left}: auto;
      order: 0;
      flex: 0 0 auto;
      align-self: auto;
    }
    &-nav-list {
      @include list-reset;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: flex-start;
    }
    &-nav-item {
      padding: 0 12px;
      display: block;
    }
    &-nav-link {
      display: block;
      color: $zr-link;
      text-decoration: none;
      font-size: 13px;
      line-height: 1.308;
    }
  }
  &-header-navbar-link-lang {
    .en-active {
      display: block;
    }
    .ar-active {
      display: none;
    }

    &.arabic {
      .en-active {
        display: none;
      }
      .ar-active {
        display: block;
      }
    }
  }

  &-border-animation {
    background-image: linear-gradient(90deg, $zr-animated-border 50%, transparent 50%),
    linear-gradient(90deg, $zr-animated-border 50%, transparent 50%),
    linear-gradient(0deg, $zr-animated-border 50%, transparent 50%),
    linear-gradient(0deg, $zr-animated-border 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 8px 3px, 8px 3px, 3px 8px, 3px 8px;
    background-position: left top, right bottom, left bottom, right   top;
    animation: border-dance 1s infinite linear;
  }

  &-scrollbar {
    /* Override inline styles */
    &-container {
      margin-#{$right}: -#{$scroll-width}!important;
      margin-#{$left}: 0!important;
    }
    &-track-vertical {
      #{$right}: 2px;
      #{$left}: initial;
      top: 2px;
      bottom: 2px;
      border-radius: 3px;
    }
  }
}

@keyframes border-dance {
  0% {
    background-position: left top, right bottom, left bottom, right   top;
  }
  100% {
    background-position: left 15px top, right 15px bottom , left bottom 15px , right   top 15px;
  }
}

.modal-dialog {
  .modal-content {
    padding-top: 38px;
  }
  .close-modal {
    position: absolute;
    #{$right}: 0;
    top: 0;
    z-index: 10;
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 3px;
    @include transition;
    &:focus {
      box-shadow: none;
      outline: 0;
    }
    .icon {
      position: absolute;
      top: 50%;
      #{$left}: 50%;
      margin-#{$left}: -6px;
      margin-top: -6px;
      display: block;
      width: 12px;
      height: 12px;
      fill: $zr-close-modal-icon;
    }
  }
}

.zr-spinner-box {
  border-radius: 50%;
  width: 68px;
  height: 68px;
  border: 6px solid rgba(255,255,255,0.035);
  margin: 60px auto 30px;
}

.zr-spinner {
  border-radius: 50%;
  width: 56px;
  height: 56px;
  font-size: 10px;
  position: relative;
  border: 6px solid rgba(255, 255, 255, 0.15);
  border-left: 6px solid $success;
  border-bottom: 6px solid $success;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: zr-audit-spinner 1.15s infinite linear;
  animation: zr-audit-spinner 1.15s infinite linear;
  &:before,
  &:after {
    position: absolute;
    left: 1px;
    top: 2px;
    display: block;
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $success;
  }
  &:after {
    left: auto;
    top: auto;
    right: 1px;
    bottom: 2px;
  }
}

.zr-spinner-grey {
  &.zr-spinner-box {

  }
  .zr-spinner {
    border-color: rgba(0, 0, 0, 0.15);
    border-left-color: $gray-500;
    border-bottom-color: $gray-500;

    &:before,
    &:after {
      background-color: $gray-500;
    }
  }
}

.zr-button-padding {
  padding: 7px 25px 6px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*::-webkit-scrollbar-track {
	-webkit-box-shadow: none;
	border-radius: 10px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #FFFFFF;
  #{$left}: 10px;
  position: relative;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: none;
	background-color: rgba(141,147,168, 0.2);
}*/
