@import "mixins";
@import 'cropperjs/dist/cropper.css';

#AppRoot [dir=rtl] {

  .main-content {
    // Form controls
    .radio-control {
      position: relative;
      padding-right: 26px;

      input + .marker {
        left: initial;
        right: 0;
      }
    }

    .custom-datepicker > svg {
      left: 0;
      right: initial;
    }

    // Popup
    .reservation-popup .popup-title .room-select {
      border-left: 1px solid $gray-200;
      border-right: none;
    }
  }

  .form-check {
    padding-left: 0;
    padding-right: 1.25rem;
  }

  .form-check-input {
    margin-left: 0;
    margin-right: -1.25rem;
  }

  .room-type-item  {
    .row > div:first-child {
      border-right-width: 0;
      border-left: 1px solid #D6D9E1;
    }
    .creatable-item .btn {
      border-width: 0 1px 0 0;
    }

    .units-list {

      & > div {
        & > div:last-child {
          left: 2px;
          right: initial !important;
        }
      }

      .controls-on-hover {
        left: 0px;
        right: initial;
      }

      &.amenities-list {

        .controls-on-hover {
          left: 8px;
          right: initial;
        }
      }

      &.room-images-list {

        .units-list-item {
          margin-left: 0.5rem;
          margin-right: 0;
        }
      }

      &.room-number-list {
        padding-left: 1rem;
        padding-right: 0;
        margin-right: 1rem;
        margin-left: 0;

        .units-list-item {
          margin-left: 0.5rem;
          margin-right: 0;
        }

        .controls-on-hover {
          right: 100%;
          left: auto;
          margin-left: 0;
          margin-right: -1.5rem;
          padding-left: 0.5rem;
          padding-right: 0;
        }
      }

      &.room-number-list:not(.prevent-hover) .units-list-item:hover {
        padding: 0.375rem 0.5rem 0.375rem 1.875rem;
      }

    }

  }

  .features-list .row > div:first-child {
    border: none;
  }

  .list-inline-item:not(:last-child) {
    margin-left: 0.5rem;
    margin-right: 0;
  }

  .modal.error-popup, .modal.confirmation-popup {
    .modal-header .close {
      left: 0;
      right: initial;
    }
  }
  .react-calendar-timeline .rct-sidebar {
    float: right;
    border-left: none;
    border-right: 1px solid #c6c8d1;
  }

  #RBS-Scheduler-root.scheduler {

    .icon-nav svg {
      transform: rotate(180deg);
    }

    .resource-view .resource-title{
      text-align:right;

      &.root {
        padding-left: 10px;
      }
    }
    .ant-radio-button-wrapper:first-child {
      border-radius: 0 4px 4px 0;
      border-color: #e8e9ec;
      border-right: 1px solid #d9d9d9;
    }
    .ant-radio-button-wrapper:last-child {
      border-radius: 4px 0 0 4px;
      border-color: #e8e9ec;
      border-left: 1px solid #d9d9d9;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      left: auto;
      right: -1px;
    }
  }

}
