.main-alerts
  #alert.alert.alert-danger*hidden_if(flash[:alert].nil?)
    a.close aria-label="close" data-dismiss="alert" href="#"  &times;
    = flash.discard(:alert)

  #notice.alert-success.alert*hidden_if(flash[:notice].nil?)
    a.close aria-label="close" data-dismiss="alert" href="#"  &times;
    = flash.discard(:notice)

  - flash.sweep
