ul.navbar-nav
  li.nav-link
    = link_to admin_dashboards_path, class: 'nav-link' do
      i.fa.fa-dashboard.fa-fw
      | Dashboard

  - unless Rails.env.production?
    li.nav-link
      = link_to admin_generator_path, class: 'nav-link' do
        i.fa.fa-gear.fa-fw
        | Generators
    li.nav-link
      = link_to '/admin/sidekiq', targer: '_blank', class: 'nav-link' do
        i.fa.fa-cog.fa-fw
        ' Background jobs
    li.nav-link
      = link_to '/admin/flipper', targer: '_blank', class: 'nav-link' do
        i.fa.fa-cog.fa-fw
        ' Flipper

ul.navbar-nav.ml-auto
  .topbar-divider.d-none.d-sm-block

  li.nav-item.dropdown
    a.nav-link.dropdown-toggle data-toggle="dropdown" href="#" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false"
      span.mr-2.d-none.d-lg-inline.text-gray-600.small = current_user.email
      i.fa.fa-user.fa-fw
      i.fa.fa-caret-down
    div.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in
      = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
        i.fa.fa-sign-out.fa-fw
        | Logout
