ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  = link_to '/reservations', class: 'sidebar-brand d-flex align-items-center justify-content-center' do
    div.sidebar-brand-text.mx-3
      | Zaire

  hr.sidebar-divider.my-0

  li*{ class: active_class_if(controller.is_a?(Admin::AuditsController), 'nav-item') }
    = link_to admin_audits_path, class: 'nav-link' do
      i.fa.fa-fw.fa-table
      | Audits
  li*{ class: active_class_if(controller.is_a?(Admin::HotelsController), 'nav-item') }
    = link_to admin_hotels_path, class: 'nav-link' do
      i.fa.fa-fw.fa-hotel
      | Hotels
  li*{ class: active_class_if(controller.is_a?(Admin::ReservationsController), 'nav-item') }
    = link_to admin_reservations_path, class: 'nav-link' do
      i.fa.fa-fw.fa-calendar
      | Reservations
  li*{ class: active_class_if(controller.is_a?(Admin::InvoicesController), 'nav-item') }
    = link_to admin_invoices_path, class: 'nav-link' do
      i.fa.fa-fw.fa-list
      | Invoices
  li*{ class: active_class_if(controller.is_a?(Admin::UsersController), 'nav-item') }
    = link_to admin_users_path, class: 'nav-link' do
      i.fa.fa-fw.fa-user
      | Users
  li*{ class: active_class_if(controller.is_a?(Admin::ServiceworkersController), 'nav-item') }
    = link_to admin_serviceworkers_path, class: 'nav-link' do
      i.fa.fa-fw.fa-signal
      | Service Worker
