h2.zr-login-title
  = t('.change_your_password')
fieldset.zr-login-formset
  = form_for(resource, as: resource_name, url: password_path(resource_name), class: 'zr-login-form', html: { method: :put, class: "zr-login-form" }) do |f|
    .zr-login-form-body
      = f.hidden_field :reset_password_token

      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_password"
            = t('.password')
          - if f.object.errors[:password].any?
            span.zr-validation-msg.error
              span.zr-validation-msg-text
                = f.object.errors.messages[:password].first
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status.zr-form-control-group-has-append.focus
          = f.password_field :password,
                            autofocus: true,
                            placeholder: t('.new_password'),
                            class: 'form-control zr-input-flat'
          button.zr-btn-icon.zr-btn-icon-eye type="button" id="password-reveal"
            svg.icon.icon-eye-closed aria-hidden="true"
              use xlink:href="#icon-eye-closed"
            svg.icon.icon-eye-opened aria-hidden="true"
              use xlink:href="#icon-eye-opened"
          button.zr-btn-input-append.zr-btn-icon type="button" id="password-prompt"
            svg.icon.icon-question aria-hidden="true"
              use xlink:href="#icon-question"
          div.zr-form-control-tooltip id="password-prompt-tooltip"
            ul.zr-form-control-tooltip-list
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_a_item') 
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_b_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_c_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_d_item')
            button.zr-btn-icon.zr-form-control-tooltip-close type='button' 
              svg.icon.icon-close aria-hidden="true"
                use xlink:href="#icon-close"
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_password_confirmation"
            = t('.confirm_password')
          - if f.object.errors[:password_confirmation].any?
            span.zr-validation-msg.error
              span.zr-validation-msg-text
                = f.object.errors.messages[:password_confirmation].first
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status.zr-form-control-group-has-append.focus
          = f.password_field :password_confirmation,
                            placeholder: t('.confirm_new_password'),
                            class: 'form-control zr-input-flat'
          button.zr-btn-icon.zr-btn-icon-eye type="button" id="password-confirmation-reveal"
            svg.icon.icon-eye-closed aria-hidden="true"
              use xlink:href="#icon-eye-closed"
            svg.icon.icon-eye-opened aria-hidden="true"
              use xlink:href="#icon-eye-opened"
          button.zr-btn-input-append.zr-btn-icon type="button" id="password-confirmation-prompt"
            svg.icon.icon-question aria-hidden="true"
              use xlink:href="#icon-question"
          div.zr-form-control-tooltip id="password-confirmation-prompt-tooltip"
            ul.zr-form-control-tooltip-list
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_a_item') 
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_b_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_c_item')
              li.zr-form-control-tooltip-item = t('devise.shared.tooltip_d_item')
            button.zr-btn-icon.zr-form-control-tooltip-close type='button' 
              svg.icon.icon-close aria-hidden="true"
                use xlink:href="#icon-close"
      .form-group.zr-form-group-btns
        = f.submit t('.change_my_password'), class: 'btn btn-primary zr-btn-lg'
