h2.zr-login-title
  = t('.forgot_your_password')
fieldset.zr-login-formset
  = form_for(resource, as: resource_name, url: password_path(resource_name), class: 'zr-login-form', html: { method: :post, class: "zr-login-form" }) do |f|
    .zr-login-form-body
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_email"
            = t('.enter_your_email')
          - if f.object.errors[:email].any?
            span.zr-validation-msg.error 
              span.zr-validation-msg-text
                = f.object.errors.messages[:email].first
                / = t('.email_is_required')
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status
          = f.email_field :email,
                          autofocus: true,
                          class: 'form-control zr-input-flat'
          .zr-icon-box.zr-icon-box-success
            svg.icon.icon-check aria-hidden="true"
              use xlink:href="#icon-check"
      .form-group.zr-form-group-btns
        = f.submit t('.send_me_reset_password_instructions'), class: "btn btn-primary zr-btn-lg"
    .zr-login-form-footer-column
      = render "devise/shared/links"