.zr-devise-notification.zr-devise-notification-password-reset
  svg.zr-devise-notification-image
    use xlink:href="#icon-email"
  .zr-devise-notification-msg
    span
      = t('devise.passwords.notification.message').html_safe
