.row
  .col-lg-12
    .card.shadow.mb-4
      = link_to "#generateReservation", class: 'd-block card-header py-3', data: { toggle: 'collapse' }, role: 'button', aria: { expanded: true, controls: 'generateReservation'} do

        h6.m-0.font-weight-bold.text-primary Generate a reservation for the Current hotel
      .collapse.show#generateReservation
        .card-body
          p.small.text-secondary
            i.fa.fa-exclamation-circle
            '
            span
              | Generates a new reservation. If choose confirmed: generates with a payment. If choose checked_in: generates with 1 adult.
              | Please be careful, it does not check for overlaps for now.

          - rooms = current_hotel.rooms.includes(:room_type).pluck("CONCAT_WS(' - ', room_types.name, rooms.number)", 'rooms.id')
          = simple_form_for @reservation, url: create_reservation_admin_generator_path, method: :post, class: 'form' do |f|
            .form-row
              / = f.input :hotel_id, as: :hidden, value: current_hotel.id
              .col
                = f.input :room_id, collection: rooms, input_html: { class: 'form-control'}, required: false, include_blank: false
              .col
                = f.input :check_in_date, as: :date, html5: true, input_html: { value: Date.current.strftime, class: 'form-control'}, required: false
              .col
                = f.input :check_out_date, as: :date, html5: true, input_html: { value: Date.tomorrow.strftime, class: 'form-control'}, required: false
              .col
                = f.input :status, collection: ::Reservations::Reservation.statuses.keys, input_html: { class: 'form-control'}, required: false, include_blank: false
              .col
                = f.input :rate, collection: ::Reservations::Reservation.rates.keys, input_html: { class: 'form-control'}, required: false, include_blank: false
              .col
                = f.input :payment_kind, collection: ::Reservations::Reservation.payment_kinds.keys, input_html: { class: 'form-control'}, required: false, include_blank: false
            = f.button :submit, 'Generate Reservation', class: 'btn btn-primary mt-4'
