.row
  .col-lg-12
    .card.shadow.mb-4
      = link_to "#generateHotel", class: 'd-block card-header py-3', data: { toggle: 'collapse' }, role: 'button', aria: { expanded: true, controls: 'generateHotel'} do

        h6.m-0.font-weight-bold.text-primary Generate user with a hotel
      .collapse.show#generateHotel
        .card-body
          p.small.text-secondary
            i.fa.fa-exclamation-circle
            '
            span
              | Generates a new user and a hotel with selected room types count. User password will be: Zaire123

          = simple_form_for @user, url: create_hotel_admin_generator_path, method: :post, class: 'form-inline' do |f|
            .form-row
              .col
                = f.input :email, input_html: { class: 'form-control'}, required: false
              = simple_fields_for :room_types do |room_types_form|
                .col
                  = room_types_form.input :room_types_count, input_html: { value: 1, class: 'form-control'}, required: false
                .col
                  = room_types_form.input :rooms_count, input_html: { value: 1, class: 'form-control'}, required: false
            = f.button :submit, 'Generate Hotel', class: 'btn btn-primary mt-4'
