.row
  .col-lg-12
    .card.shadow.mb-4
      = link_to "#generateReservations", class: 'd-block card-header py-3', data: { toggle: 'collapse' }, role: 'button', aria: { expanded: true, controls: 'generateReservation'} do

        h6.m-0.font-weight-bold.text-primary Generate a reservations for the Current hotel
      .collapse.show#generateReservation
        .card-body
          p.small.text-secondary
            i.fa.fa-exclamation-circle
            '
            span
              | Generates a new reservations. If choose confirmed: generates with a payment. If choose checked_in: generates with 1 adult.

          = simple_form_for :reservations, url: create_reservations_admin_generator_path, method: :post, class: 'form' do |f|
            .form-row
              .col
                = f.input :count, input_html: { value: 1, class: 'form-control'}, required: false
              .col
                = f.input :check_in_date, as: :date, html5: true, input_html: { value: Date.current.strftime, class: 'form-control'}, required: false
              .col
                = f.input :check_out_date, as: :date, html5: true, input_html: { value: Date.tomorrow.strftime, class: 'form-control'}, required: false
              .col
                = f.input :status, collection: ::Reservations::Reservation.statuses.keys, input_html: { class: 'form-control'}, required: false, include_blank: false
              .col
                = f.input :rate, collection: ::Reservations::Reservation.rates.keys, input_html: { class: 'form-control'}, required: false, include_blank: false
              .col
                = f.input :payment_kind, collection: ::Reservations::Reservation.payment_kinds.keys, input_html: { class: 'form-control'}, required: false, include_blank: false
            = f.button :submit, 'Generate Reservations', class: 'btn btn-primary mt-4'
