tr.small *{id: dom_id(invoice)}
  td = invoice.id
  td = invoice.to_id ? (link_to "Reservation ##{invoice.to_id}", admin_reservation_path(invoice.to_id)) : ' - '
  td = invoice.vat_tax
  td = invoice.municipal_tax
  td = invoice.charges_total
  td = invoice.refunds_total
  td = invoice.payments_total
  td = invoice.discounts_total
  td = invoice.charges_with_taxes_total
  td = invoice.booking_total
  td = invoice.amount
  td
    = link_to 'Details', admin_invoice_path(invoice), class: 'btn btn-primary btn-sm'
