- attrs = Invoices::Payment.new.attributes.without("deleted_at").keys
.card.mb-4
  .card-header.py-3
    h6.m-0.font-weight-bold.text-primary
      | Payments: #{@invoice.payments.count}
  .card-body
    table.table.table-bordered.small
      thead
        - attrs.each do |attr_name|
          th = attr_name.humanize
      tbody
        - @invoice.payments.each do |error_log|
          tr
            - attrs.each do |attr_name|
              td = error_log.public_send(attr_name)