.row
  .col-lg-12
    = search_form_for @q, url: admin_invoices_path, builder: SimpleForm::FormBuilder, class: 'form-inline' do |f|
     .form-row
        .col
          = f.input :reservation_id_eq, label: 'Reservation ID', required: false, input_html: { class: 'form-control' }

        = f.submit 'Search', class: 'btn btn-primary mt-4'
br
