.row
  .col-lg-12
    h1.page-header = "Invoices"

hr.sidebar-divider

= render 'search'

hr.sidebar-divider

.row
  .col-lg-12
    table.table.table.table-bordered.is-breakable
      tr
        th ID
        th Reservation ID
        th Vat tax
        th Municipal tax
        th Charges total
        th Refunds total
        th Payments total
        th Discounts total
        th Charges with taxes total
        th Booking total
        th Amount
        th Actions
      = render collection: @invoices, partial: 'item', as: :invoice

.row
  .col-lg-12
    = paginate @invoices
