.row
  .col-lg-5
    h1.page-header = "Invoice for Reservation ##{@invoice.to_id}"

  .col-lg-7
    = link_to 'Reservation', admin_reservation_path(@invoice.to_id), class: 'btn btn-primary btn-sm mr-1 float-right'

.row
  .col-lg-12
    .card.shadow.mb-4
      = link_to "#base", class: 'd-block card-header py-3 collapsed',
                           data: { toggle: 'collapse' },
                           role: 'button',
                           aria: { expanded: true, controls: 'base'} do
        h6.m-0.font-weight-bold.text-primary Base info
      .collapse#base
        .card-body
          - attrs = Invoices::Invoice.new.attributes.without("deleted_at").keys
          table.table.table-bordered.small
            tbody
              - attrs.each do |attr_name|
                tr
                  td = attr_name.humanize
                  td = @invoice.public_send(attr_name)

    = render 'charges'
    = render 'discounts'
    = render 'payments'
    = render 'refunds'