javascript:
  localStorage.setItem('nightAuditSettings', "#{j night_audit_settings_json.html_safe}");
  localStorage.setItem('currentAudit', "#{j current_audit_json.html_safe}");
  localStorage.setItem('offlineMode', "#{j offline_mode_json.html_safe}");
  localStorage.setItem('countries', "#{j countries_json.html_safe}");
  localStorage.setItem('currentUser', "#{j current_user_json.html_safe}");

= stylesheet_pack_tag 'application', {id: 'main-css'}
= stylesheet_pack_tag 'application-rtl', {id: 'second-css'}
div#AppRoot
= javascript_pack_tag 'application'
