.align-avatar {
  #{$left}: 4px;
  position: relative;
  bottom: -6px;
}

.page-account {

  .personal-account-form {
    overflow-y: auto;
  }

  .progress-circle-container {
    position: relative;

    .progress-circle {
      width: 30px;
      position: absolute;
      bottom: -6px;
      #{$left}: 71px;
      transition: opacity 0.3s;
      opacity: 0;
    }

    .show {
      opacity: 1;
    }
  }

  .form-row {
    &:hover {
      background: $gray-100;
      cursor: pointer;
    }

    &.not-expandeable:hover {
      background: inherit !important;
      cursor: default !important;
    }
  }

  div[tabindex] {
    outline-style: none;
  }
  
  .zr-btn-icon {
    #{$right}: 0px !important;
  }

  .invalid-feedback {
    display: block;
  }

  .form-group {
    margin-bottom: 0.4rem;
  }

  .border-bottom {
    border-bottom: 1px solid $zr-rezervation-thead-arrow-bd !important;
  }

  .expanded-background {
    background: $gray-100;
    cursor: default !important;
  }

  .password-dots {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .avatar-file-input {
    input[type="file"] {
      display: none;
    }

    span {
      color: $white;
    }

    width: 125px;
  }

  .content-block {
    h3 {
      font-size: 0.875rem;
      text-transform: uppercase;
      font-weight: bold;
      position: relative;
      #{$right}: 3px;
      margin-top: 35px;
    }

    a {
      color: darken($zr-link, 20%);
    }

    a:hover {
      color: $zr-link;
    }

    .rounded {
      border: 1px solid $gray-100;
      background: $white;
    }
    
    .icon-wrapper {
      position: relative;
    }

    .closed-eye {
      color: $hit_gray;
      width: 15px;
      position: absolute;
      right: 13px;
      top: 8px;
      text-shadow: 0 0 black;
    }

    .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 0.5rem + 2px);
      padding: 0.375rem 0.75rem;
      font-weight: 400;
      font-size: 0.9em;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid $gray-400;
      border-radius: 0.25rem !important;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      &:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }

      &.is-invalid {
        border-color: $red; 
      }

      &.details {
        position: relative;
        width: 223px;
        #{$right}: 3%;
      }
    }
  }

  .switcher-control + h2 {
    line-height: 26px;
  }

  .form-account-offline {

    input[type=number] {
      width: 90px;

      & + label {
        padding-left: 1.25rem;
        color: $gray-600;
        font-size: 0.9375rem;
        margin-bottom: 0;
        line-height: 2;
      }
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

  }

  .btn-group.btn-group-fixed > .btn, .btn-group-vertical.btn-group-fixed > .btn {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .check-time-select {
    width: 120px;
  }

  .check-time-label {
    color: $hit_gray;
  }

  .logo-formats {
    color: $manatee;
  }

  .logo-file-input input[type="file"] {
    display: none;
  }

  .logo {
    background-color: $mystic;
  }

  .progress-green {
    background-color: $green;
  }

  .cropper-point {
    border-radius: 25px;
  }

  .address {
    .plain-select__control {
      background-color: $gray-100;
    }

    .country-select label {
      top: -20px !important;
    }

    .address-form {
      width: 50%;
    }
  }

  .borderless-bottom {
    border-bottom: none !important;
  }

  .zr-account-setting__name {

    .grey-block {
      padding: 30px 16px;
    }
    .zr-account-name-field {
      position: relative;
      width: 500px;

      .form-control {
        border: 0;
      }

      .invalid-feedback {
        position: absolute;
        display: block;
      }
    }
  }

}
