@import 'components/images';
@import 'components/notifications';
@import 'components/roomtype';
@import 'components/hotel';
@import 'components/account';
@import 'components/zr-reservation';
@import 'components/zr-audit';
@import 'components/icons';
@import 'components/zr-inner';
@import 'components/zr-login';
@import 'components/rates';

.status{
  &-checked_in {
    background-color: $zr-status-checked-in !important;
    border-color: $zr-status-checked-in !important;
  }
  &-checked_out {
    background-color: $zr-status-checked-out !important;
    border-color: $zr-status-checked-out !important;
  }
  &-cancelled {
    background-color: $zr-status-cancelled !important;
    border-color: $zr-status-cancelled !important;
  }
  &-confirmed {
    background-color: $zr-status-confirmed !important;
    border-color: $zr-status-confirmed !important;
  }
  &-unconfirmed {
    background-color: $zr-status-unconfirmed !important;
    border-color: $zr-status-unconfirmed !important;
  }
  &-no_show {
    background-color: $zr-status-no-show !important;
    border-color: $zr-status-no-show !important;
  }
  &-dnr {
    background-color: $zr-status-dnr !important;
    border-color: $zr-status-dnr !important;
  }
  &-default_dnr {
    background-color: $zr-status-dnr !important;
    border-color: $zr-status-dnr !important;
  }
  &-cut_dnr {
    background-color: $zr-status-dnr !important;
    border-color: $zr-status-dnr !important;
  }
}

//
// Color scheme
//
.color-gray-600 {
  color: $gray-600;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
//
// Width
//

@for $i from 1 through 100 {
  .zr-width-#{$i} {
    width: 1% * $i;
  }
}
@for $fl from 1 through 100 {
  .zr-width-flex-#{$fl} {
    flex: 0 0 1%*$fl;
    max-width: 1%*$fl;
  }
}
@for $sm from 1 through 100 {
  .zr-width-flex-sm-#{$sm} { // screen and (max-width: 992px)
    @media #{$M_SM} {
      flex: 0 0 1%*$sm;
      max-width: 1%*$sm;
    }
  }
}
@for $md from 1 through 100 {
  .zr-width-flex-md-#{$md} { // screen and (max-width: 1209px)
    @media #{$M_MLG} {
      flex: 0 0 1%*$md;
      max-width: 1%*$md;
    }
  }
}
@for $miw from 1 through 10 {
  .zr-miw-#{$miw}0p {
    min-width: 10px*$miw;
  }
}
.zr-width-flex-wide {
  flex: 1 1 0;
  min-width: 0;
}
.zr-width-flex-auto {
  flex: 0 0 auto;
}
.zr-flex-element-to-end {
  margin-#{$left}: auto;
}
.zr-row-medium {
  margin-left: -15px;
  margin-right: -15px;
  .col,
  *[class^="col"] {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.zr-col {
  position: static;
}

//
// Buttons
//

.zr-btn-icon {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}
.zr-btn-horiz-pad-md {
  padding-#{$left}: 24px;
  padding-#{$right}: 24px;
}

//
// Forms custom
//

.form-group {
  .zr-label-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-end;
  }
  .zr-label {
    margin-bottom: 6px;
    flex: 0 0 auto;
    display: block;
    color: $manatee;
  }
  .zr-validation-msg {
    margin-#{$left}: auto;
    margin-bottom: 6px;
    padding-#{$left}: 10px;
    flex: 1 1 0;
    min-width: 0;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-end;
    &-content {
      display: block;
    }
    &-text {
      display: block;
      font-size: 15px;
      line-height: 1.2667;
      font-weight: $medium;
      text-align: right;
    }
    .icon {
      margin-#{$left}: 8px;
      display: block;
    }
    .icon-attention {
      margin-bottom: 3px;
      flex: 0 0 16px;
      width: 16px;
      height: 14px;
    }
    &.error {
      .zr-validation-msg-text {
        color: $zr-validation-text;
      }
      .icon {
        fill: $zr-validation-text;
      }
    }
  }
  &.under-validation.is-invalid .zr-validation-msg {
    display: flex;
  }
}
.form-control {
  &.zr-input-flat {
    padding-top: 13px;
    padding-#{$right}: 42px;
    padding-bottom: 11px;
    padding-#{$left}: 14px;
    height: auto;
    font-size: 15px;
    line-height: 1.2667;
    color: $zr-input-flat-color;
    background-color: $zr-input-flat-bd;
    border-color: $zr-input-flat-bd;
    border-radius: 2px;
    &:focus,
    .zr-form-control-group.focus & {
      border-color: $zr-input-flat-focus-bd;
    }
  }
}
.zr-form-control-group {
  position: relative;
  &-has-status {
    .zr-input-flat {
      position: relative;
      z-index: 1;
      padding-#{$right}: 50px;
    }
    .zr-btn-icon,
    .zr-icon-box {
      #{$right}: 1px;
    }
  }
  &-has-append {
    .zr-input-flat {
      position: relative;
      z-index: 1;
      padding-#{$right}: 48px;
    }
    .zr-btn-input-append {
      #{$right}: 1px;
    }
  }
  &-has-append.zr-form-control-group-has-status {
    .zr-input-flat {
      padding-#{$right}: 100px;
    }
    .zr-btn-icon,
    .zr-icon-box {
      #{$right}: 48px;
    }
    .zr-btn-icon.zr-btn-input-append {
      #{$right}: 1px;
    }
  }
}
.zr-checkbox {
  &-wrap {
    position: relative;
    overflow: hidden;
  }
  &-label {
    position: relative;
    margin-bottom: 0;
    padding-#{$left}: 28px;
    cursor: pointer;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.286;
    &-text {
      display: inline-block;
      vertical-align: top;
      color: $zr-input-flat-color;
    }
    &:hover:before {
      box-shadow: 0px 2px 3px rgba($black, 0.05);
    }
  }
  /* Base for label styling */
  &-field[type="checkbox"]:not(:checked),
  &-field[type="checkbox"]:checked {
    position: absolute;
    #{$left}: -9999px;
    visibility: hidden;
  }

  /* checkbox aspect */
  &-field[type="checkbox"]:not(:checked) + .zr-checkbox-label:before,
  &-field[type="checkbox"]:checked + .zr-checkbox-label:before {
    content: '';
    position: absolute;
    #{$left}: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $zr-checkbox-bd;
    background: #fff;
    border-radius: 4px;
  }
  &-field[type="checkbox"]:checked + .zr-checkbox-label:before {
    box-shadow: 0px 2px 3px rgba($black, 0.05);
  }
  /* checked mark aspect */
  &-field[type="checkbox"]:not(:checked) + .zr-checkbox-label .icon,
  &-field[type="checkbox"]:checked + .zr-checkbox-label .icon {
    position: absolute;
    top: 5px;
    #{$left}: 4px;
    height: 8px;
    width: 10px;
    fill: $black;
    @include transition;
  }
  /* checked mark aspect changes */
  &-field[type="checkbox"]:not(:checked) + .zr-checkbox-label .icon {
    opacity: 0;
  }
  &-field[type="checkbox"]:checked + .zr-checkbox-label {
    .icon {
      opacity: 1;
    }
  }
}
.zr-btn-icon,
.zr-icon-box {
  position: absolute;
  z-index: 4;
  top: 1px;
  bottom: 1px;
  display: block;
  width: 50px;
  border: 0;
  outline: 0;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  .icon {
    position: absolute;
    top: 50%;
    #{$left}: 50%;
    display: block;
    @include transition;
  }
  .icon-eye-closed {
    $iW: 20px;
    $iH: 14px;

    margin-#{$left}: - $iW/2;
    margin-top: - $iH/2 + 2px;
    width: $iW;
    height: $iH;
    fill: $hit_gray;
  }
  .icon-eye-opened {
    $iW: 20px;
    $iH: 14px;

    margin-#{$left}: - $iW/2;
    margin-top: - $iH/2;
    width: $iW;
    height: $iH;
    fill: $hit_gray;
  }
  .icon-check {
    $iW: 18px;
    $iH: 14px;

    #{$left}: auto;
    #{$right}: 14px;
    margin-top: - $iH/2 + 1px;
    width: $iW;
    height: $iH;
    fill: $zr-input-flat-check-icon;
  }
}
.zr-btn-icon-eye {
  display: none;
  .zr-form-control-group.focus & {
    display: block;
  }
  .icon-eye-closed {
    opacity: 1;
    visibility: visible;
  }
  .icon-eye-opened {
    opacity: 0;
    visibility: hidden;
  }
  &.opened {
    .icon-eye-opened {
      opacity: 1;
      visibility: visible;
    }
    .icon-eye-closed {
      opacity: 0;
      visibility: hidden;
    }
  }
}
.zr-icon-box {
  cursor: default;
  display: none;
  &-success {
    .form-group.under-validation.is-valid & {
      display: block;
    }
  }
}
.zr-btn-input-append {
  position: absolute;
  z-index: 5;
  top: 1px;
  bottom: 1px;
  display: block;
  background-color: transparent;
  border-top-#{$right}-radius: 2px;
  border-bottom-#{$right}-radius: 2px;
  border: 0;
  outline: 0;
  box-shadow: none;
  border-#{$left}: 1px solid $zr-input-flat-focus-bd;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
  &.zr-btn-icon {
    width: 48px;
    @include transition;
    .icon-question {
      position: absolute;
      #{$left}: 50%;
      top: 50%;
      margin-top: -9px;
      margin-#{$left}: -9px;
      display: block;
      width: 19px;
      height: 19px;
      fill: $hit_gray;
    }
  }
}

.zr-blang-container {
  position: relative;

  .zr-blang-nav {
    position: absolute;
    bottom: 100%;
    z-index: 1;

    .nav-item:first-of-type {
      margin-#{$right}: 2px;
    }

    .zr-blang-nav-item  {
      position: relative;
      width: 38px;
      height: 20px;
      background-color: $gray-600;
      padding: 3px 4px;
      padding-#{$right}: 20px;
      font-size: 12px;
      color: $white;
      line-height: 14px;
      border-width: 0;

      &:hover, &:focus {
        border-color: transparent;
        border-width: 0;
      }

      .has-value::after {
        content:'';
        display: block;
        position: absolute;
        top: 6px;
        #{$right}: 4px;
        width: 9px;
        height: 5px;
        border-bottom: 2px solid $white;
        border-left: 2px solid $white;
        transform: rotate(-50deg);
      }

    }
    .zr-blang-nav-en.active {
      background-color: $blue;
    }
    .zr-blang-nav-ar.active{
      background-color: $teal;
    }
  }

  .zr-blang-field {
    border-width: 1px;
    border-style: solid;

    &.zr-blang-field-en {
      border-color: $blue;
    }
    &.zr-blang-field-ar {
      border-color: $teal;
    }
  }

  .zr-blang-tab-content {
    position: relative;
  }

  &-plain {
    .zr-blang-nav {
      #{$right}: 0;
      bottom: 1px;
    }
    .zr-blang-field {
      padding-#{$right}: 80px;
      border-width: 0 0 1px;
      border-bottom: 1px solid $gray-300;
      input {
        border-color: transparent;
      }
    }
  }

  &:not(.zr-blang-container-plain) {
    .zr-blang-field-en .form-control{
      background-color: rgba(75, 160, 225, 0.1);
    }
    .zr-blang-field-ar .form-control{
      background-color: rgba(0, 154, 102, 0.1);
    }
  }

}

.zr-content-block {
  border: 1px solid $mystic;
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba($black, 0.05);
}
.zr-content-check-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  &+& {
    border-top: 1px solid $mystic;
  }
}
.zr-content-check-tabs {
  padding: 24px 15px 25px;
  .btn {
    min-width: 116px;
  }
}
.zr-content-check-time {
  padding: 0 15px 30px;
}
.zr-content-check-actions {
  padding: 33px 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;
  .zr-content-block & {
    margin: 0;
  }
  &-list {
    @include list-reset;
    margin-#{$left}: -10px;
    margin-#{$right}: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start;
  }
}
.zr-content-check-action {
  flex: 0 0 auto;
  padding: 0 10px;
  .btn {
    min-width: 140px;
    text-transform: uppercase;
    font-weight: $medium;
  }
}

.zr-content-check-time {
  .form-group { // TODO Refactor
    position: relative; // TODO Refactor
  } // TODO Refactor
}

.main-content {

  //
  // Typography
  //
  h1, h2, h3, h4 {
    font-weight: $semibold;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
    line-height: 1.25;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    margin-bottom: 10px;
    font-size: 14px;
  }

  input:focus, select:focus {
    box-shadow: none !important;
    outline: none;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .list-inline,
  .list-unstyled {
    padding-#{$left}: 0;
  }

  .font-10 {
    font-size: 0.625rem;
  }
  .font-20 {
    font-size: 1.25rem;
  }
  .font-24 {
    font-size: 1.5rem;
  }

  .font-weight-400 {
    font-weight: 400;
  }
  .font-weight-500 {
    font-weight: 500;
  }
  .font-weight-600 {
    font-weight: 600;
  }

  .page-content {
    background-color: $white;
    border-radius: 3px;
  }

  .grey-block {
    margin-bottom: 1px;
    background-color: $gray-100;
  }

  .section-block {

    border-radius: 3px;
    border: 1px solid #EAF0F4;

    &__title {
      background-color: #E1E4EE;
      border-radius: 3px;
    }

  }

  .box-shadow {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  }

  .border-box {
    border: 1px solid #E1E4EE;
  }

  .text-not-transform {
    text-transform: none !important;
  }

  .text-small-caps {
    font-variant-caps: small-caps;
  }

  .fixed-width-90 {
    width: 90px;
  }
  .fixed-width-120 {
    width: 120px;
  }
  .fixed-width-210 {
    width: 210px;
  }

  .fixed-width-230 {
    width: 230px;
  }

  .fixed-width-400 {
    width: 400px;
  }

  .modal {
    background-color: rgba(0,0,0,0.5);
  }

  //Forms
  .plain-form {

    position: relative;

    input, select {
      padding: 0px;
      background: transparent;
      border-width: 0px 0px 1px;
      border-color: $zr-input-btm-bd;
      border-radius: 0px;
      font-size: 14px;
      line-height: 22px;
      height: auto;
      &:focus {
        border-color: $zr-input-focus-btm-bd;
      }
    }

    .invalid-feedback {
      display: block;
    }

    .live-placeholder {
      label {
        top: 0px;
        left: 0;
        width: 100%;
        position: absolute;
        color: $gray-500;
        padding: 0 0 0 10px;
        transition: top 0.2s;
        font-size: 0.8125rem;
      }
      input:valid + label, input:focus + label, input.empty:focus + label {
        top: -20px;
      }

      input:placeholder-shown + label, input.empty + label {
        top: 0px;
      }
      select,
      .plain-select {
        &.empty {
          color: $gray-500;
          font-size: 0.8125rem;
          & + label {
            z-index: -1;
          }
        }
        option {
          color: $gray-700;
        }
        & + label {
          z-index: -1;
        }
        &:not(.empty) + label {
          top: -20px;
          z-index: 0;
        }
      }
    }
    .plain-select.form-control.country-field {
      padding: 0;
      height: auto;
      border: none;
      border-radius: 0;
    }
    .form-group {
      margin-bottom: 0.5rem;
    }
    .edit-guest-info {
      padding: 0 30px;
    }

  }

  .zr-edit-guest {
    &-info {
      padding: 30px 40px 20px;
    }
    &-field-wrap {
      margin-bottom: 20px;
      .custom-datepicker {
        padding-top: 9px;
      }
    }
    &-adult {
      padding: 30px 40px 20px;
      border-top: 1px solid $zr-rezervation-bd;
      .zr-row {
        margin-bottom: 20px;
      }
    }
    &-adult-title {
      margin-bottom: 20px;
    }
    &-col-title {
      margin-bottom: 15px;
    }
  }
  .zr-payment-form {
    input,
    select {
      font-size: 14px;
      line-height: 1.286;
      height: auto;
      background: $white;
      border-radius: 3px;
      border-color: $zr-input-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
      @include placeholder {
        color: $zr-placeholder-color;
      }
    }
    &-line {
      margin-#{$left}: -5px;
      margin-#{$right}: -5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      @media #{$M_MLG} {
        flex-wrap: wrap;
      }
      &-col {
        margin-bottom: 20px;
        padding-#{$left}: 5px;
        padding-#{$right}: 5px;
        @media #{$M_MLG} {
          flex: 1 1 100% !important;
          max-width: 100%;
        }
      }
      .btn {
        &-primary,
        &-secondary {
          font-size: 13px;
          line-height: 1.308;
        }
      }
    }
    &-fields {
      margin: 0 -5px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      & + .zr-payment-form-fields {
        margin-top: 20px;
      }
    }
    &-field {
      padding: 0 5px;
      &.zr-element-wide {
        flex: 1 1 0;
      }
    }
    &-actions {
      margin: 0 -5px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: stretch;
    }
    &-action {
      padding: 0 5px;
      flex: 0 0 auto;
      .btn {
        text-transform: uppercase;
      }
    }
  }

  .plain-select,
  .text-select {
    &__control {
      border-width: 0px;
      border-bottom-width: 1px;
      border-bottom-color: $zr-input-btm-bd;
      border-radius: 0;
      min-height: 23px;
      background-color: transparent;
    }
    &__control--is-focused {
      border-color: transparent;
      border-bottom-color: $zr-input-focus-btm-bd;
      box-shadow: none;
      .plain-select__indicator,
      .text-select__indicator {
        color: $hit_gray;
      }
    }
    &__value-container {
      padding: 0;
      > div {
        margin: 0;
        padding: 0;
      }
    }
    &__value-container--has-value {
      padding: 0;
      > input {
        position: absolute;
        border: 0;
      }
    }
    &__menu {
      margin-top: 4px;
      color: $zr-text;
      border-radius: 2px;
    }
    &__menu-list {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    &.required .plain-select__placeholder {
      &::after {
        content: ' *';
        color: $danger;
      }
      color: $gray-500;
    }
    &__indicator-separator {
      background-color: transparent;
      margin: 0;
    }
    &__dropdown-indicator {
      padding: 0;
      color: $hit_gray;
    }
    &.is-invalid .plain-select__control {
      border-color: $danger;
    }
    &.text-select--is-disabled .text-select__indicator {
      display: none;
    }
    &__option {
      padding: 7px 14px 6px;
      font-size: 13px;
      line-height: 1.308;
    }
    &__option--is-focused {
      color: $zr-text;
      background-color: $zr-select-option-selected-bg;
    }
  }

  .payment-select,
  .zr-payment-select {
    &__control {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      height: auto;
      min-height: 0;
      font-size: 14px;
      line-height: 1.286;
      background-color: $white;
      border-radius: 3px;
      border-color: $zr-input-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
      cursor: pointer;
      &:hover {
        background-color: $zr-select-hover-bg;
      }
    }
    &__control--is-focused {
      background-color: $zr-select-hover-bg;
      border-color: $zr-input-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
    }
    &__value-container {
      padding: 6px 10px;
      flex: 1 1 0;
      min-width: 0;
      > div {
        margin: 0;
        padding: 0;
      }
    }
    .payment-select__placeholder,
    .zr-payment-select__placeholder {
      top: 0;
      #{$left}: 0;
      padding: 6px 10px;
      width: calc(100% + 15px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: none;
    }
    &__indicators {
      flex: 0 0 31px;
    }
    &__indicator-separator {
      display: none;
    }
    &__dropdown-indicator {
      padding: 0;
      width: 100%;
      height: 100%;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
      &:hover svg {
        fill: $hit_gray;
      }
      svg {
        fill: $hit_gray;
      }
    }
    &__menu {
      margin-top: 4px;
      margin-bottom: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
      background-color: $white;
      border: 1px solid $zr-input-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
    }
    &__option {
      padding: 6px 14px;
      font-size: 13px;
      line-height: 1.385;
      cursor: pointer;
      @include transition;
      &--is-focused {
        color: $zr-text;
        background-color: $zr-select-option-selected-bg;
      }
      &--is-selected {
        color: $zr-text;
        background-color: $white;
        &:hover {
          background-color: $zr-select-option-selected-bg;
        }
      }
    }
    &.form-control {
      padding: 0;
      height: auto;
      border: none;
      border-radius: 0;
    }

    &.form-control.is-invalid {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #F17777;
      border-bottom-width: 1;
      // width: 180px;
    }
  }


  .text-select {
    &__control {
      border-bottom-width: 0;
    }
  }

  .select-section {

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $gray-300;

    .badge {
      display: inline-block;
      font-size: 0.75rem;
      font-weight: normal;
      line-height: 1;
      min-width: 1;
    }
  }

  .radio-control {
    position: relative;
    padding-left: 26px;

    input {
      visibility: hidden;
      position: absolute;
    }

    input + .marker {
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid $gray-300;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: calc(50% - 9px);
    }
    input:checked + .marker::after {
      content:'';
      display: block;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 4px;
      left: 4px;
      background-color: $gray-700;
      border-radius: 50%;
    }

  }

  .custom-checkbox {

  }

  .switcher-control {
    position: relative;

    input[type=checkbox] {
      height: 0;
      width: 0;
      visibility: hidden;
      position: absolute;
    }

    label {
      cursor: pointer;
      width: 48px;
      height: 26px;
      background: $gray-500;
      display: block;
      border-radius: 13px;
      position: relative;
    }

    label:after {
      content: '';
      position: absolute;
      top: 4px;
      left: 5px;
      width: 18px;
      height: 18px;
      background: #fff;
      border-radius: 10px;
      transition: 0.3s;
    }

    input:checked + label {
      background: $green;
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }

  .focused-secondary-button {
    color: #ffffff;
    background-image: linear-gradient(#FECD6C, #EFBA50);
    border-color: #EFBA50;
  }

  time-select {
    border-color: #E8E9EC;
    background-color: #FFFFFF;
  }

  .custom-datepicker {
    position: relative;
    margin-bottom: 5px;
    width: fit-content;
    font-size: 13px;
    line-height: 1.308;
    color: $gray-700;

    > svg {
      position: absolute;
      right: 0;
      bottom: 4px;
      width: 16px
    }

    input {
      width: 100%;

      &:disabled {
        color: $gray-500;
      }
    }
  }

  .inc-dec-control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    &__value {
      flex: 1 1 0;
      border-bottom: 1px solid $gray-300;
      line-height: 30px;
      margin: 0 5px;
    }
  }

  .btn-small-icon {
    width: 32px;
    height: 32px;
    min-width: 32px;
    padding: 0;
    border-color: #E8E9EC;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.05);
    background-color: $white;
  }

  .invalid-feedback {
    margin-top: 0;
    position: relative;
    margin-left: 4px;
  }

  .form-control.is-invalid.country-field {
    height: 1.5rem;
    padding: 0;
  };

  .number-field {

    &-validation-text{
      margin-top: 35px;
    }

    &-input{
      border: 1px solid red;
    }

  }



  .form-group label.required:after {
    content:" *";
    color: $danger;
  }

  .form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
  }
}
