.page-hotel-settings {

  .zr-hotel-settings {
    height: 100%;
    overflow-y: auto;
  }

  .switcher-control + h2 {
    line-height: 26px;
  }

  .form-hotel-offline {

    input[type=number] {
      width: 90px;

      & + label {
        padding-left: 1.25rem;
        color: $gray-600;
        font-size: 0.9375rem;
        margin-bottom: 0;
        line-height: 2;
      }
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

  }

  .btn-group.btn-group-fixed > .btn, .btn-group-vertical.btn-group-fixed > .btn {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .check-time-select {
    width: 120px;
  }

  .check-time-label {
    color: $hit_gray;
  }

  .logo-formats {
    color: #8D93A8
  }

  .logo-container {
    background-color: #FFFFFF;
  }

  .logo-file-input input[type="file"] {
    display: none;
  }

  .logo {
    background-color: $mystic;
  }

  .progress-green {
    background-color: #A4DC72;
  }

  .cropper-point {
    border-radius: 25px;
  }

  .address {
    .plain-select__control {
      background-color: $gray-100;
    }

    .country-select label {
      top: -20px !important;
    }

    .address-form {
      width: 50%;
    }
  }

  .borderless-bottom {
    border-bottom: none !important;
  }

  .zr-hotel-setting__name {

    .grey-block {
      padding: 30px 16px;
    }
    .zr-hotel-name-field {
      position: relative;
      width: 500px;

      .form-control {
        border: 0;
      }

      .invalid-feedback {
        position: absolute;
        display: block;
      }
    }
  }

}
