.cropper {
  height: 400px;
  width:  100%;
}

.modal-content.image-modal {
  height: 600px;
}

.supported-formats {
  color: $manatee;
}

.question-icon {
  width: 16px;
  height: 16px;
  fill: $hit_gray;
}
