.modal {
    &.error-popup {
        background-color: rgba(0,0,0,0.4);

        .modal-header .close {
            margin: 0;
            color: $gray-500;
            font-size: 1.25rem;
            position: absolute;
            top: 0;
            right: 0;
        }
        .modal-title {
            color: $danger;
        }

        .error-icon {
            fill: $danger;
        }

        .modal-header, .modal-body, .modal-footer {
            padding: 1.5rem 2.5rem;
        }
    }

    &.confirmation-popup {
        .modal-content {
          .modal-header, .modal-body, .modal-footer {
              padding: 1.5rem 2.5rem;
          }
        }

        .modal-header .close {
          margin: 0;
          color: $gray-500;
          font-size: 1.25rem;
          position: absolute;
          top: 0;
          right: 0;
      }
    }
}

.validation-tooltip {
    position: absolute;
    left: 50%;
    right: initial;
    transform: translateX(-50%);
    padding: 10px;
    display: none;
    color: $danger;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid $danger;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    .zr-inner-header-btn[disabled]:hover + & {
        display: block;
    }
    .zr-inner-header-tool & {
        top: 100%;
        margin-top: 10px;
        z-index: 10;
    }
    .check-time-select+& {
        margin-top: 10px;
        display: block;
    }
    .zr-amenities-section &,
    .zr-rooms-list-section & {
        position: static;
        margin-top: 10px;
        transform: none;
        display: inline-block;
        vertical-align: top;
    }
}

.zr-float-notification {
  position: absolute;
  top: 0;
  #{$right}: 0;
  padding: 10px;
  border: 1px solid $blue;
  border-radius: 3px;
  background-color: rgba(75,160,225,0.1);
}
