.zr-rates-frontdesk {
  &-thead-row {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    @media #{$M_SM} {
      flex: 1 1 0;
    }
  }
  &-thead-col {
    padding: 18px 20px 0;
    text-align: center;
    line-height: 1.286;
    font-weight: $semibold;
    @media #{$M_MLG} {
      padding-#{$right}: 10px;
      padding-#{$left}: 10px;
    }
    &:first-child {
      text-align: #{$left};
      padding-#{$left}: 22px;
      @media #{$M_MLG} {
        padding-#{$left}: 18px;
      }
    }
    &.zr-col-date {
      text-align: #{$right};
    }
    &.zr-col-payment {
      padding-#{$right}: calc(10% + 20px);
    }
  }
  &-tbody-row {
    max-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    .zr-reservation-tbody-line & {
      cursor: pointer;
      position: relative;
      min-height: 0;
    }
  }
  &-tbody-col {
    padding: 18px 10px 20px;
    text-align: left;
    @media #{$M_MLG} {
      padding-#{$right}: 10px;
      padding-#{$left}: 10px;
    }
    &-currency-name {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding-bottom: 5px;
    }
    &:first-child {
      text-align: #{$left};
      padding-#{$left}: 22px;
      // max-width: 100px;
      @media #{$M_MLG} {
        padding-#{$left}: 18px;
      }
    }
    &.zr-col-date {
      span {
        margin-bottom: 2px;
        display: block;
      }
    }
    &.zr-col-payment {
      padding-#{$right}: calc(10% + 20px);
    }
    &.zr-col-actions {
      position: absolute;
      #{$right}: 0;
      top: 0;
      bottom: 0;
      padding: 11px 7px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: flex-start;
      .zr-btn-icon {
        position: static;
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      .zr-reservation-tbody-row:hover & {
        .zr-btn-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .zr-btn-icon {
      padding: 6px 7px;
      display: block;
      width: auto;
      .icon {
        position: static;
        display: block;
        fill: $manatee;
      }
      .icon-cancel {
        width: 14px;
        height: 16px;
      }
      .icon-edit {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.tabs {
  border-bottom: none;
  margin: -25px -20px 0;
  background-color: $body-bg;
  cursor: pointer;
}

.tabs-custom-active {
  color: $zr-text;
  background-color: $white;
  height: 100%;
  padding: 10px 20px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
}

.tabs-navlink-custom {
  padding: 0px 20px;
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  align-items: center;
  height: 100%;
}

.button-header {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.zr-rate-collapse {
  background-color: $zr-rates-collapse-bg;
  color: $zr-header-item-hover;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.zr-arrow {
  display: flex;
  cursor: pointer;
  align-items: baseline;
  fill: $zr-header-item-hover;
  &-rotate {
    transform: rotate(180deg);
  }
}

.zr-cursor {
  cursor: pointer;
}

.copy-link-button {
  color: $zr-header-item-hover;
  background: transparent;
  border: none;
  box-shadow: none;
  &:hover {
    background: transparent;
    border: none;
    color: $zr-header-item-hover;
    text-decoration: none;
  }
}

.zr-button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.zr-hide-buttons {
  visibility: hidden;
}

.zr-rates-dropdown {
  width: 100px;
  margin: 0 auto;
  padding-top: 10px;
  color: blue;
  border: none;
}

.zr-show-error {
  display: flex;
  justify-content: center;
}

.zr-week-line {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.zr-nr-col-text {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}