.zr-roomtype-list {
  padding-#{$right}: 12px;
}
.room-type-item {
  border: 1px solid $gray-300;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  position: relative;

  &.blank {
    border-style: dashed;
  }

  .row > div:first-child {
    border-right: 1px solid $gray-300;
  }

  .units-list {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-#{$right}: 0!important;

    .controls-on-hover {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 2;
      margin: 0;
      align-items: center;
    }

    .units-list-item {
      position: relative;
    }
    &:not(.prevent-hover) .units-list-item:hover {
      color: $white;
      background-color: $danger;

      svg {
        fill: $white;
      }

      .controls-on-hover {
        display: flex;
        background-color: $danger;
      }
    }

    &.amenities-list {

      .controls-on-hover {
        left: initial;
        right: 8px;
      }

      .category-check {
        width: 15px;
        display: block;
        height: 15px;
        position: absolute;
        #{$left}: 0px;
        top: 3px;
        line-height: 14px;
        text-align: center;
        font-size: 18px;
        background: #fff;
        border: 1px solid $gray-300;
      }

      .units-list-item:hover .category-check {
        color: $black;
        border-color: transparent;
      }
    }

    &.room-images-list {

      .units-list-item {
        margin-right: 0.5rem;
      }
      .units-list-item img {
        max-width: 80px;
        max-height: 80px;
      }

      .controls-on-hover {
        padding: 5px;
      }

    }

    &.room-number-list {
      padding-right: 1rem;
      margin-left: 1rem;

      .units-list-item {
        margin-right: 0.5rem;
      }
      .controls-on-hover {
        left: 100%;
        right: initial;
        margin-left: -1.375rem;
        padding-right: 0.5rem;
      }

      &:not(.prevent-hover) .units-list-item:hover {
        border-radius: 2px 0 0 2px;
        padding: 0.375rem 1.875rem 0.375rem 0.5rem;

      }
    }
  }

  .units-list.room-images-list {

    .view-on-hover {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      margin: 0;
    }

    &:not(.prevent-hover) .units-list-item:hover {
      color: $white;
      background-color: transparent;
      cursor: pointer;

      .view-on-hover {
        display: flex;
        background-color: transparent;
        cursor: pointer;
      }
    }
  }

  .room-number-badge {
    background-color: $gray-100;
    border-radius: 2px;
    padding: 0.375rem 1.1875rem;
    line-height: 1;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
  }

  .creatable-item {

    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: $gray-300;

    .btn {
      background: transparent;
      border-width: 0 0 0 1px;
      border-style: solid;
      border-color: $gray-300;
      border-radius: 0;
      padding-left: 0.75rem;
      padding-right: 0.75rem;

      &.btn-link {
        border-left-width: 0;
      }

    }

    input {
      border-radius: 0;
      border-width: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
    .input-group-append {
      margin-left: 0;
    }

    .invalid-feedback {
      position: absolute;
      margin-top: 0;
      bottom: 100%;
    }

  }

  .features-list {
    dt {
      margin-bottom: 19px;
      font-weight: normal;
      color: $gray-600;
    }
    dd {
      color: $gray-700;
    }
    .row > div:first-child {
      border: none;
    }

  }
  .view-amenities-list {
    li {
      margin-bottom: 10px;
    }
  }

  .eye-icon {
    display: flex;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
  }

  .photos-mb {
    margin-bottom: $spacer * 2;
  }

  .zr-custom-amenity{
    margin-bottom: -1px;
    
    .zr-blang-container{
      flex: 1 1 0;
    }
  }

  .zr-image-uploader {
    position: absolute;
    top: 10px;
    #{$right}: 15px;
  }
}

.zr-dynamic-price-field {
  display: flex;
  justify-content: center;
  align-items: baseline; 
}

.zr-dynamic-price-element{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.zr-price-field-width {
  width: 70px;
}

.zr-price-tabs-font {
  font-size: 0.925rem;
  padding: 0;
}
