.zr-login {
  &-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  width: 100%;
  max-width: 400px;

  &-title {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: $normal;
    .main-content & {
      font-weight: $normal;
    }
  }
  &-subtitle {
    margin-top: 6px;
    margin-bottom: 4px;
    line-height: 1.286;
    color: $manatee;
    font-weight: $normal;
    .main-content & {
      line-height: 1.286;
      font-weight: $normal;
    }
  }
  &-form {
    padding-top: 40px;
    .form-group {
      margin-bottom: 0;
      & + .form-group {
        margin-top: 18px;
      }
      & + .zr-form-group-actions {
        margin-top: 20px;
      }
      & + .zr-form-group-btns {
        margin-top: 35px;
      }
    }
    .zr-form-group-actions,
    .zr-form-group-btns {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }
    .zr-form-link {
      font-size: 14px;
      line-height: 1.286;
      color: $zr-link;
    }
    .zr-form-link-forgot {
      display: block;
      margin-#{$left}: auto;
    }
    .zr-form-link-sign-in,
    .zr-form-link-sign-up {
      display: block;
      font-size: 13px;
      line-height: 1.385;
      font-weight: $medium;
      text-transform: uppercase;
    }
    .zr-form-control-tooltip {
      position: absolute;
      top: 0;
      #{$left}: 100%;
      margin-#{$left}: 8px;
      padding: 20px 20px 10px;
      padding-#{$right}: 44px;
      width: 100%;
      max-width: 260px;
      color: $white;
      background-color: rgba($zr-input-flat-color, 0.92);
      border-radius: 2px;
      opacity: 0;
      visibility: hidden;
      @include transition;
      &.show {
        opacity: 1;
        visibility: visible;
      }
      &:after {
        position: absolute;
        top: 18px;
        #{$right}: 100%;
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5.5px 8px 5.5px 0;
        border-color: transparent rgba($zr-input-flat-color, 0.92) transparent transparent;
      }
      &-list {
        @include list-reset;
      }
      &-item {
        position: relative;
        margin-bottom: 10px;
        padding-#{$left}: 15px;
        font-size: 13px;
        line-height: 1.308;
        &:before {
          position: absolute;
          #{$left}: 0;
          top: 5px;
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          border-radius: 2px;
          background-color: rgba($white, 0.5);
        }
      }
      .zr-form-control-tooltip-close.zr-btn-icon {
        position: absolute;
        top: 21px;
        #{$right}: 16px;
        width: 22px;
        height: 22px;
        .icon {
          margin-#{$left}: -6px;
          margin-top: -6px;
          width: 12px;
          height: 12px;
          fill: rgba($white, 0.5);
        }
      }
    }
    &-footer {
      margin-top: 30px;
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      border-top: 1px solid $mystic;
      &-column {
        margin-top: 30px;
        padding-top: 24px;
        padding-bottom: 24px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        border-top: 1px solid $mystic;
      }
      & > * {
        margin-#{$right}: 20px;
      }
      .zr-login-form-footer-row {
        margin: 0;
      }
      &-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        & + & {
          margin-top: 12px;
        }
        & > * {
          margin-#{$right}: 20px;
        } 
      }
      &-msg {
        font-size: 14px;
        line-height: 1.286;
        color: $manatee;
      }
    }
  }
}

.zr-devise-notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 710px;
  padding-top: 54px;
  padding-bottom: 52px; 
  background-color: #F8F9FD;

  &-password-reset {
    height: 180px;
  }

  &-email-confirmation {
    height: 276px;
  }

  .zr-devise-notification-msg {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 470px;
    height: 170px;
    margin-#{$right}: 72px;
    text-align: #{$left};
    font-size: 16px;
  }
  .zr-devise-notification-image {
    width: 65px;
    height: 50px;
    margin-left: 59px;
    margin-right: 44px;
  }
}
