// Plugin antd styles
@import 'antd/lib/select/style/index.css';
@import 'antd/lib/grid/style/index.css';
@import 'antd/lib/radio/style/index.css';
@import 'antd/lib/popover/style/index.css';
@import 'antd/lib/calendar/style/index.css';

@import '../libs/customized-react-big-scheduler/src/css/style.css';

.zr-inner .zr-reservation-page {
  flex: 1 1 0;
  min-height: 0;
  overflow: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.zr-reservation-page,
.zr-reservation {

  .reservation-popup {
    .modal-dialog {
      width: 660px;
    }
    .modal-body {
      padding: 0;
    }

    .add-reservation-form,
    .zr-add-reservation-form {
      max-width: 660px!important;
    }

    .zr-checkin-container {
      position: relative;
    
      .validation-tooltip {
        display: none;
        white-space: nowrap;
        left: 50%;
        right: initial; // to align content. do not reverse in rtl
        transform: translateX(-50%);
      }
    
      .zr-checkin-btn[disabled]:hover + .validation-tooltip {
        display: block;
        bottom: 100%;
        margin-bottom: 10px;
      }
    }    

    .zr-add-reservation-form {
      .zr-row {
        margin-bottom: 30px;
      }
      .zr-form-section-stay {
        padding-bottom: 10px;
      }
      .zr-form-section-extra {
        .zr-row {
          margin-bottom: 0;
        }
      }
    }
    .zr-add-reservation-subtitle {
      margin-bottom: 25px;
    }
    .zr-add-reservation-field-wrap {
      margin-bottom: 20px;
      min-height: 32px;
      .custom-datepicker {
        padding-top: 9px;
      }
      .radio-control {
        margin-top: 6px;
      }
    }
    .popup-title {
      padding: 0 40px 15px;
      border-bottom: 1px solid $gray-200;

      .text-select__value-container {
        height: 42px;
        line-height: 1;
      }

      .text-select__single-value {
        font-weight: 600;
        font-size: 16px;
        word-break: break-all;
        white-space: normal;
        line-height: 1.2;
      }

      .room-select {
        border-#{$right}: 1px solid $gray-200;
      }

      .radio-control {
        font-size: 16px;
        padding-#{$left}: 22px;
      }
    }

    .edit-popup-title {
      padding: 0 40px 15px;
      border-bottom: 1px solid $gray-200;

      .text-select__single-value {
        font-weight: 600;
        font-size: 20px;
      }

      .room-select {
        border-#{$right}: 1px solid $gray-200;
      }
    }

    .zr-reservation-room-name {
      font-size: 16px;
      font-weight: 600;
      word-break: break-word;
      text-overflow: ellipsis;
    }

    .checkin-reservation-form .popup-title .row > div:last-child {
      border-#{$left}: 1px solid #d6d9e1;
    }

    .form-section {
      padding: 30px 40px 20px;
      border-bottom: 1px solid $gray-200;
      &:last-of-type {
        border-bottom: none;
      }
    }

    .popup-footer {
      padding: 32px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-content: flex-start;
      align-items: flex-start;
      &-btn-row {
        margin: 0 -10px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-content: flex-start;
        align-items: flex-start;
      }
      &-btn-col {
        padding: 0 10px;
        flex: 0 0 auto;
      }
      &-btn {
        .icon {
          margin-#{$left}: 10px;
          #AppRoot [dir=rtl] & {
            transform: rotate(180deg);
          }
        }
      }
      &-btn.btn-back {
        .icon {
          margin-#{$left}: 0;
          margin-#{$right}: 10px;
          transform: rotate(180deg);
          #AppRoot [dir=rtl] & {
            transform: rotate(0);
          }
        }
      }
    }

    .phone-code-field {
      position: relative;

      .phone-code-prefix {
        display: none;
        position: absolute;
        top: 0;
        $right: initial;
        $left: 0;

        &::before {
          content: '+';
          display: block;
        }
      }

      &.filled {

        input {
          padding-#{$left}: 8px;
        }

        .phone-code-prefix {
          display: block;
        }

      }

    }

    /* ----- Guest search ----- */
    .guest-search {
      position: initial;

      .guest-option p {
        margin-bottom: 0;
      }

      .plain-select__dropdown-indicator {
        visibility:hidden;
      }

      .plain-select__menu {
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 230px;
        padding: 0;
        margin: 0;
        box-shadow: none;

        .plain-select__menu-list {
          padding: 0;
          border-top: 1px solid $zr-guest-option-hover-bg;
          border-bottom: 1px solid $zr-guest-option-hover-bg;
        }

        .plain-select__menu-notice {
          padding: 16px 32px;          
          background-color: $zr-guest-option-bg;
        }

        .plain-select__option {
          padding: 0;
          cursor: pointer;
          border-bottom: 1px solid $zr-guest-option-hover-bg;

          &:last-of-type {
            border-bottom: 0;
          }
        }

        .guest-option {
          background-color: $zr-guest-option-bg;
          color: $zr-guest-option-color;
          padding: 16px 32px;
          height: 100px;          
  
          &:hover {
            background-color:$zr-guest-option-hover-bg;
          }
        }
      }   

    }

  }

  .cancel-reservation {
    padding: 0 40px;
  }

  .btn-secondary:not(:disabled).active {
    color: $blue;
    background: linear-gradient($body-bg, $white 50%);
    border-color: #dfdfdf;
  }

  .block-prev-next .content{
    line-height: 32px;
  }

  .adults-delete-error {
    padding: 30px 40px;
    color: $zr-validation-text;
  }

  /* ----- Scheduler ----- */
  .zr-frontdesk {
    height: 100%;

    &.zr-frontdesk-search {
      .reservation-item:not(.zr-searchable-item) {
        background-color: $zr-status-inactive!important;
        border-color: $zr-status-inactive!important;
      }
      .reservation-item:not(.zr-searchable-item):hover {
        &::after {
          content: '';
          display: block;
          position: absolute;
          top:0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 4px;
          background-color: $white;
          opacity: 0.35;
        }
        &.status{
          &-checked_in {
            background-color: $zr-status-checked-in !important;
            border-color: $zr-status-checked-in !important;
          }
          &-checked_out {
            background-color: $zr-status-checked-out !important;
            border-color: $zr-status-checked-out !important;
          }
          &-cancelled {
            background-color: $zr-status-cancelled !important;
            border-color: $zr-status-cancelled !important;
          }
          &-confirmed {
            background-color: $zr-status-confirmed !important;
            border-color: $zr-status-confirmed !important;
          }
          &-unconfirmed {
            background-color: $zr-status-unconfirmed !important;
            border-color: $zr-status-unconfirmed !important;
          }
          &-no_show {
            background-color: $zr-status-no-show !important;
            border-color: $zr-status-no-show !important;
          }
          &-dnr {
            background-color: $zr-status-dnr !important;
            border-color: $zr-status-dnr !important;
          }
          &-default_dnr {
            background-color: $zr-status-dnr !important;
            border-color: $zr-status-dnr !important;
          }
          &-cut_dnr {
            background-color: $zr-status-dnr !important;
            border-color: $zr-status-dnr !important;
          }
        }
      }
    }
  }
  .scheduler {
    margin: 0;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    vertical-align: top;
    text-align: left;

    > thead {
      display: block;
      flex: 0 0 auto;
      position: relative;
      z-index: 5;
      tr,
      td {
        display: block;
      }
    }

    table {
      border-collapse: collapse;
      vertical-align: top;
      text-align: left;
      table-layout: fixed;
      td,
      th {
        vertical-align: middle;
      }
    }

    table.scheduler-bg-table th {
      border-#{$right}: 1px solid #e9e9e9;
      border-#{$left}: 0;
    }

    &-body {
      display: block;
      flex: 1 1 0;
      min-height: 0;
      > tr,
      > tr >td {
        height: 100%;
        display: block;
      }
    }
    &-body-table {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      overflow: hidden;
      > thead {
        display: block;
        flex: 0 0 auto;
        > tr {
          display: flex;
          > td {
            display: block;
          }
        }
      }
      > tbody {
        display: block;
        flex: 1 1 0;
        min-height: 0;
        overflow: hidden;
        overflow-y: auto;
        > tr {
          display: flex;
          align-items: stretch;
          justify-content: flex-start;
        }
      }
    }
    &-head-col {
      flex: 1 1 0;
      min-width: 0;
      &:first-child {
        flex: 0 0 auto;
      }
    }
    &-body-col {
      flex: 1 1 0;
      min-width: 0;
      &:first-child {
        flex: 0 0 auto;
      }
    }

    &-active-dates {
      border: 1px solid $zr-input-bd;
      border-radius: 4px;
      box-shadow: 0 2px 3px rgba(0,0,0,0.05);
      height: 32px;
      line-height: 30px;
      
      .icon-nav {
        display: inline-block;
        color: $hit_gray;        
        font-size: 16px;
        font-weight: 900;
        height: 100%;
        padding: 0 6px;
        &:hover {
          color: $hit_gray!important;
        }
        &.anticon-left {
          border-#{$right}: 1px solid $zr-input-bd;
        }
        &.anticon-right {
          border-#{$left}: 1px solid $zr-input-bd;          
        }
      }
      .header2-text-label {
        margin: 0 15px;
        font-size: 16px;
        font-weight: 400;
        color: $zr-text;
      }
    }

    .zr-reseravion-search {
      margin-#{$left}: auto;
      margin-#{$right}: 20px;
    }

    .root {
      background-color: #8D93A8;
      width: 100% !important;
    }

    .zr-room-rate {
      display: flex;
      justify-content: center;
      align-content: center;
      color: #B8BDCF;
      font-size: 80%;
    }
    .reservation-item {
      color: $white;
      text-align: #{$left};
    }
    .reservation-root-item {
      color: #B8BDCF;
    }
    .reservation-group {
      color: #4D4F5C;
    }
    .reservation-root-group {
      color: $white;
    }
    .viewtype-buttons {
      box-shadow: 0 2px 3px rgba(0,0,0,.05);

      .ant-radio-group {
        font-size: 11px;
        line-height: 1.273;
      }
      .ant-radio-button-wrapper {
        border-color: #e8e9ec;
        color: #2d303a;
        background-color: $white;
        &:first-child {
          border-top-#{$left}-radius: 3px;
          border-bottom-#{$left}-radius: 3px;
        }
        &:last-child {
          border-top-#{$right}-radius: 3px;
          border-bottom-#{$right}-radius: 3px;
        }
        span {
          margin: 0 !important;
        }

        &.ant-radio-button-wrapper-checked {
          color: $blue;
          background: linear-gradient($body-bg, $white 50%);
          border-color: #dfdfdf;
          box-shadow: none;
        }
      }
      .ant-radio-button-wrapper-checked {
        font-weight: $semibold;
      }
      .ant-radio-button-wrapper-checked:focus-within {
        outline: none;
        box-shadow: none;
      }
    }

    .day-view.no-time {
      position: absolute;
      width: 100%;
      background-color: #F5F6FA;
      color: #4D4F5C;
      font-size: 13px;
      height: 45px; /* TODO: remove. Incorporate in module*/
      line-height: 43px;
    }

    .scheduler-body-table > thead .scheduler-bg-table{
      border-top: 1px solid #e9e9e9;
      border-bottom: 1px solid #e9e9e9;
    }

    .scheduler-header {
      text-align: center;
      line-height: 1.2;
    }

    .scheduler-resource-header {
      border: 1px solid #e9e9e9;
      overflow: hidden;
    }    

    .resource-view {
      height: 100%;
      text-align: left;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      border: 0;
      > div {
        flex: 0 0 auto;
        border: 1px solid #e9e9e9;
        border-#{$right}: 0;
      }
      .header2-text {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        line-height: 1.22223;
        font-weight: $normal;
        color: $zr-text;
      }
      .header2-text-label {
        padding-top: 7px;
        display: block;
      }
      .header2-text .icon-nav {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: flex-start;
        align-items: center;
        width: 32px;
        height: 32px;
        color: $hit_gray;
        align-items: center;
        background-color: $white;
        border: 1px solid $zr-rezervation-thead-arrow-bd;
        border-radius: 3px;
        box-shadow: 0 2px 3px rgba($black,.04);
        &:hover {
          color: $hit_gray;
        }
        svg {
          width: 16px;
          height: 16px;
        }
      }
      .header2-text .anticon-left.icon-nav {
        margin-#{$right}: 16px !important;
      }
      .header2-text .anticon-right.icon-nav {
        margin-#{$left}: 16px !important;
      }
      .root {
        display: flex;
        height: 100%;
        align-content: flex-start;
        align-items: center;
        color: $white;
        white-space: pre-line;
        cursor: pointer;
        line-height: 1.143;

        span:last-child {
          display: inline-block;
          width: 100%;
        }

        svg {
          fill: $white;
        }

        &.is-open .icon {
          transform: rotate(180deg);
        }
      }
      .resource-title {
        text-align: left;

        &.root {
          height: 40px;
          line-height: 1;
          overflow: hidden;
          word-break: break-word;
          padding-right: 10px;
        }

        &:not(.root) span {
          padding: 0 25px;
        }
      }
      table.resource-table tr,
      table.scheduler-bg-table tr,
      table.scheduler-table tr {
        height: 41px;
        border: 0;
      }
      table.resource-table tr:first-child {
        .root {
          @supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee))  and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) { 
            height: 41px; // for chrome only
          }
        }
      }
    }
    .scheduler-view {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      border: 0;
      margin: 0;
      width: 100%;
      overflow: hidden;
      > div {
        border-top: 1px solid #e9e9e9;
        // border-#{$right}: 1px solid #e9e9e9;
      }
      table.scheduler-bg-table th {
        border-#{$left}: 1px solid #e9e9e9;
        border-#{$right}: 0;
        &:last-child {
          border-#{$right}: 1px solid #e9e9e9;
        }

        &.disabled {
          position: relative;
          &::after {
            display: block;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.1);
            top: 0;
          }
        }
      }
      table.resource-table th,
      table.scheduler-table th,
      table.resource-table td,
      table.scheduler-bg-table td,
      table.scheduler-table td {
        border-#{$left}: 1px solid #e9e9e9;
        border-#{$right}: 0;
        &:last-child {
          border-#{$right}: 1px solid #e9e9e9;
        }
      }

      .scrollable-content {
        flex: 1 1 0;
        min-height: 0;
        border-top: 0;
      }
      .scheduler-blocking-layer {
        background-color: rgba(0,0,0,0.1);
        z-index: 2;
      }
      .scheduler-header {
        background-color: #F5F6FA;
        color: #A3A6B4;
        line-height: 1;
      }
      .scheduler-content {
        z-index: 3;
      }
      .scheduler-content-table {
        overflow: hidden;
        border-#{$right}: 1px solid #e9e9e9;
      }

      .event-container .selected-area {
        border: 2px solid $blue;
        border-radius: 3px;

        &::before {
          content:'+';
          display: flex;
          justify-content: center;
          align-content: center;
          position: absolute;
          width: 100%;
          height: 100%;
          color: $blue;
          line-height: 39px;
          font-size: 20px;
          font-weight: bold;
        }
      }
      .timeline-event {
        overflow: hidden;
        border-radius: 4px;

        .event-resizer {
          background-color: rgba(255,255,255,0.2);

          &.event-start-resizer {
            #{$left}: -1px;
            #{$right}: auto;
          }

          &.event-end-resizer {
            #{$right}: -1px;
            #{$left}: auto;
          }
        }
      }
      .timeline-event.highlighted {
        z-index: 100;
        .reservation-item {
          box-shadow: 0 0 1px 3px $zr-violet;
        }
      }
      .reservation-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 4px;
        color: $white;
        padding: 0 !important;
        font-size: 90%;
        > div {
          line-height: 1;
          padding: 6px 8px 0;
        }
        .menu-icon {
          fill: $white;
        }
        .rct-item-info {
          line-height: 1.8
        }

        &.highlighted {
          box-shadow: 0 0 5px yellow;
        }
      }

    }

    // Day view
    &.scheduler-view-0 {
      table.scheduler-bg-table td {
        border-#{$right}-color: transparent;
      }

    }
    // Month view
    &.scheduler-view-2 {
      .reservation-item {
        padding: 0 2px !important;  // rewrite scheduler styles
        font-size: 11px;
      }
    }

   /* scroll fix */
   .scheduler-body-content {
      margin-#{$right}: -#{$scroll-width};
      margin-bottom: -#{$scroll-width};
      
      &:not(.has-scrollY) .zr-scheduler-content-scroll {
        margin-bottom: -#{$scroll-width}!important;
      }
      &.has-scrollX:not(.has-scrollY) .zr-scheduler-content-scroll + div {
        margin-bottom: -#{$scroll-width};
      }

      .scheduler-body-col:last-child .zr-scrollbar-container + div {
        bottom: 18px!important;
      }
    }

    .zr-scrollbar-container {

      &.zr-scheduler-content-scroll {
        overflow-y: auto;
      }

      &.zr-scheduler-header-scroll {
        overflow-y: hidden;
      }

      & + div {
        z-index: 10;
      }
    }
  }
  /* ----- end of Scheduler ----- */

  .reservation-icon {
    fill:  $gray-600;
  }

  .reservation-header-icon {
    fill:  $white;
  }
  .zr-section-grey {
    background-color: $zr-rezervation-tfoot-row-bg;
    border-radius: 2px;
  }
  &-stub-section {
    padding: 26px 30px;
    font-size: 14px;
    line-height: 1.286;
    font-weight: $semibold;
    color: $zr-rezervation-stub-color;
    text-align: center;
  }
  &-thead-row {
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    @media #{$M_SM} {
      flex: 1 1 0;
    }
  }
  &-thead-col {
    padding-top: 18px;
    padding-#{$right}: 20px;
    padding-bottom: 17px;
    padding-#{$left}: 20px;
    text-align: #{$right};
    line-height: 1.286;
    font-weight: $semibold;
    @media #{$M_MLG} {
      padding-#{$right}: 10px;
      padding-#{$left}: 10px;
    }
    &:first-child {
      text-align: #{$left};
      padding-#{$left}: 22px;
      @media #{$M_MLG} {
        padding-#{$left}: 18px;
      }
    }
    &.zr-col-date {
      text-align: #{$right};
    }
    &.zr-col-payment {
      padding-#{$right}: calc(10% + 20px);
    }
  }
  &-table {
    margin: -18px -20px -8px;
    font-size: 14px;
    line-height: 1.429;
    @media #{$M_MLG} {
      font-size: 13px;
      line-height: 1.308;
    }
    &-wrap {
      border: 1px solid $zr-rezervation-bd;
      border-radius: 3px;
    }
    p {
      margin: 0 0 2px;
    }
  }
  &-table-form {
    padding: 18px 22px 0;
    border-bottom: 1px solid $zr-rezervation-bd;
    background-color: $zr-rezervation-row-hover;
  }
  &-tbody-line {
    border-bottom: 1px solid $zr-rezervation-bd;
    @include transition;
    &:hover,
    &.zr-opened {
      background-color: $zr-rezervation-row-hover;
    }
  }
  &-tbody-line-content {
    position: relative;
    padding-top: 4px;
    padding-bottom: 24px;
    display: none;
    font-size: 12px;
    line-height: 1.3334;
    color: $zr-rezervation-line-content-color;
    background-color: $zr-rezervation-row-hover;
    .zr-reservation-tbody-line.zr-opened & {
      display: block;
    }
    &:before {
      position: absolute;
      top: 0;
      #{$left}: 22px;
      #{$right}: 22px;
      content: '';
      display: block;
      height: 1px;
      background-color: $zr-rezervation-bd;
    }
    &-collapse {
      display: block;
    }
  }
  &-tbody-row {
    min-height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    .zr-reservation-tbody-line & {
      cursor: pointer;
      position: relative;
      min-height: 0;
    }
    .zr-invoice-tbody-line {
      position: relative;
      min-height: 0;
      &:hover {
        background: transparent;
        position: relative;
        min-height: 0;
      }
    }
  }
  &-tbody-col {
    padding: 18px 20px 20px;
    text-align: #{$right};
    @media #{$M_MLG} {
      padding-#{$right}: 10px;
      padding-#{$left}: 10px;
    }
    &:first-child {
      text-align: #{$left};
      padding-#{$left}: 22px;
      @media #{$M_MLG} {
        padding-#{$left}: 18px;
      }
    }
    &.zr-col-date {
      span {
        margin-bottom: 2px;
        display: block;
      }
    }
    &.zr-col-payment {
      padding-#{$right}: calc(10% + 20px);
    }
    &.zr-col-actions {
      position: absolute;
      #{$right}: 0;
      top: 0;
      bottom: 0;
      padding: 11px 7px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: flex-start;
      .zr-btn-icon {
        position: static;
        opacity: 0;
        visibility: hidden;
        @include transition;
      }
      .zr-reservation-tbody-row:hover & {
        .zr-btn-icon {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    .zr-btn-icon {
      padding: 6px 7px;
      display: block;
      width: auto;
      .icon {
        position: static;
        display: block;
        fill: $manatee;
      }
      .icon-cancel {
        width: 14px;
        height: 16px;
      }
      .icon-edit {
        width: 16px;
        height: 16px;
      }
    }
  }
  &-tbody-sub-col {
    padding: 18px 20px 0;
    text-align: #{$right};
    @media #{$M_MLG} {
      padding-#{$right}: 10px;
      padding-#{$left}: 10px;
    }
    &:first-child {
      text-align: #{$left};
      padding-#{$left}: 22px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: flex-start;
      @media #{$M_MLG} {
        padding-#{$left}: 18px;
      }
    }
    &.zr-col-date {
      span {
        margin-bottom: 2px;
        display: block;
      }
    }
  }
  &-tfoot-section {
    padding-top: 8px;
    padding-bottom: 10px;
    &.zr-section-grey {
      border-top: 1px solid $white;
    }
    .zr-reservation-tfoot-row {
      border: 0;
    }
    .zr-reservation-tfoot-col {
      padding-top: 7px;
      padding-bottom: 5px;
    }
  }
  &-tfoot-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
    @include transition;
    border-top: 1px solid $zr-rezervation-bd;
    &:first-child {
      border-top: 0;
    }
  }
  &-tfoot-col {
    padding-top: 19px;
    padding-#{$right}: 20px;
    padding-bottom: 17px;
    padding-#{$left}: 20px;
    text-align: #{$right};
    line-height: 1.286;
    font-weight: $semibold;
    @media #{$M_MLG} {
      padding-#{$right}: 10px;
      padding-#{$left}: 10px;
    }
    &:first-child {
      text-align: #{$left};
      padding-#{$left}: 22px;
      @media #{$M_MLG} {
        padding-#{$left}: 18px;
      }
    }
  }

  .zr-search-select {
    &__control {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      height: auto;
      min-height: 0;
      font-size: 14px;
      line-height: 1.286;
      background-color: $white;
      border-radius: 3px;
      border-color: $zr-input-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
      cursor: pointer;
      &:hover {
        background-color: $white;
      }
    }
    &__control--is-focused {
      background-color: $white;
      border-color: $zr-control-focus-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
    }
    &__value-container {
      padding: 6px 10px;
      flex: 1 1 0;
      min-width: 0;
      > div {
        margin: 0;
        padding: 0;
      }
    }
    &__single-value {
      color: $zr-text;
      top: 0;
      left: 0;
      transform: none;
      .search-option {
        width: 100%;
        > div:first-child {
          display: none;
        }
        > div {
          padding: 6px 10px;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .search-select__placeholder {
      top: 0;
      #{$left}: 0;
      padding: 6px 10px;
      width: calc(100% + 15px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform: none;
    }
    &__indicators {
      flex: 0 0 31px;
    }
    &__indicator-separator {
      display: none;
    }
    &__clear-indicator {
      padding: 0 !important;
    }
    &__dropdown-indicator {
      padding: 0;
      width: 100%;
      height: 100%;
      min-width: 31px;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
      &:hover svg {
        fill: $hit_gray;
      }
      svg {
        fill: $hit_gray;
      }
    }
    &__menu {
      margin-top: 4px;
      margin-bottom: 4px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 3px;
      background-color: $white;
      border: 1px solid $zr-input-bd;
      box-shadow: 0px 2px 3px rgba($black, 0.05);
    }
    &__option {
      padding: 6px 14px;
      font-size: 13px;
      line-height: 1.385;
      cursor: pointer;
      @include transition;
      &--is-focused,
      &--is-selected {
        color: $zr-text;
        background-color: $zr-select-option-selected-bg;
      }
    }
    &.form-control {
      padding: 0;
      height: auto;
      border: none;
      border-radius: 0;
    }

    &.form-control.is-invalid {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #F17777;
      border-bottom-width: 1;
      // width: 180px;
    }
  }

  &-page {
    &-row {
      margin: 0 -10px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: stretch;
      @media #{$M_SM} {
        flex-wrap: wrap;
      }
    }
    &-col {
      padding: 0 10px;
      order: 0;
      align-self: auto;
      &.secondary-col {
        flex: 0 0 21.22%;
        min-width: 280px;
        @media #{$M_SM} {
          padding: 0;
          min-width: 0;
          flex: 1 1 100%;
        }
        > div {
          @media #{$M_SM} {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: flex-start;
            align-items: stretch;
          }
        }
      }
      &.main-col {
        flex: 1 1 0;
        min-width: 0;
      }
    }
  }
  &-widget {
    & + & {
      margin-top: 10px;
      @media #{$M_SM} {
        margin-top: 0;
      }
    }
    @media #{$M_SM} {
      padding: 0 10px 20px;
      flex: 0 0 33.333%;
    }
    &-table {
      padding: 0;
      flex: 1 1 0;
    }
    &-inner {
      height: 100%;
      border-radius: 3px;
      border: 1px solid $zr-rezervation-bd;
      .zr-reservation-widget-table & {
        border: 0;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    &-header {
      background-color: $mystic;
      border-radius: 2px;

      @media #{$M_SM} {
        min-height: 52px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: center;
      }
      .header-wrap {
        position: relative;
        padding-top: 17px;
        padding-#{$right}: 14px;
        padding-bottom: 15px;
        padding-#{$left}: 18px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: stretch;
        @media #{$M_SM} {
          padding-top: 10px;
          padding-bottom: 10px;
          flex: 1 1 0;
          min-width: 0;
        }
      }
      .header-icon-col {
        padding-#{$right}: 5px;
        display: block;
        flex: 0 0 22px;
        .icon {
          display: block;
          fill: $manatee;
          &-person {
            width: 14px;
            height: 16px;
          }
          &-guests {
            margin-top: 3px;
            width: 16px;
            height: 11px;
          }
        }
      }
      .header-inner-col {
        flex: 1 1 0;
        min-width: 0;
      }
      .header-status-col {
        padding-#{$left}: 10px;
        flex: 0 0 auto;
      }
      .header-status-msg {
        margin-top: -1px;
        padding: 3px 6px 2px;
        display: block;
        font-size: 10px;
        line-height: 1.3;
        color: $white;
        text-transform: uppercase;
        font-weight: $semibold;
        border-radius: 2px;
      }
      .widget-title {
        margin-bottom: 0;
        line-height: 1.286;
        @media #{$M_MLG} {
          font-size: 12px;
          line-height: 1.334;
        }
      }
      .widget-id {
        margin-top: 3px;
        display: block;
        font-size: 14px;
        line-height: 1.286;
        @media #{$M_MLG} {
          font-size: 12px;
          line-height: 1.334;
        }
        @media #{$M_SM} {
          margin-top: 0;
        }
      }
    }
    &-content {
      padding: 18px 20px 8px;
      .widget-list {
        @include list-reset;
        &-item {
          margin-bottom: 12px;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-content: flex-start;
          align-items: flex-start;
        }
        &-item-col.icon-col {
          padding-#{$right}: 6px;
          padding-top: 1px;
          flex: 0 0 22px;

          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          align-content: flex-start;
          align-items: flex-start;
        }
        &-item-col.text-col {
          margin: 0;
          flex: 1 1 0;
          min-width: 0;
          font-size: 14px;
          line-height: 1.286;
          @media #{$M_MLG} {
            font-size: 12px;
            line-height: 1.334;
          }
          strong {
            margin-bottom: 3px;
            display: block;
            font-weight: $semibold;
          }
          span {
            display: block;
          }
        }
        .icon {
          display: block;
          fill: $manatee;
          &-rooms {
            width: 16px;
            height: 15px;
          }
          &-calendar {
            width: 14px;
            height: 16px;
          }
          &-guests {
            width: 16px;
            height: 11px;
          }
          &-rates {
            width: 16px;
            height: 14px;
          }
          &-reciept {
            width: 14px;
            height: 14px;
          }
          &-inventory {
            width: 9px;
            height: 16px;
          }
          &-place {
            width: 12px;
            height: 17px;
          }
          &-phone {
            width: 14px;
            height: 14px;
          }
          &-email {
            margin-top: 2px;
            width: 16px;
            height: 11px;
          }
          &-person {
            width: 14px;
            height: 16px;
          }
        }
      }
    }
  }

  .zr-guest-info {
    word-break: break-word;
  }

  #reservation-search {
    width: 300px;
    padding: 0;

    .search-option {
      border-bottom: 1px solid $gray-200;
      text-align: #{$left};
    }

    .search-select__menu {
      z-index: 100;
    }
  }
  .edit-delete-column {
    padding: 0 15px;
  }
  .edit-delete-payments-icon {
    fill: $manatee;
    cursor: pointer;
  }
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  font-size: small;
}

.switch-field label {
  background-color: $white;
  width: 156px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1;
  text-align: center;
  padding: 8px 20px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: $zr-audit-label-bg;
  color: $zr-guest-option-bg;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
