.zr-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  min-height: 0;
  &-header {
    margin-bottom: 10px;

    flex: 0 0 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    @media #{$M_SM} {
      flex-wrap: wrap;
    }
    @media #{$M_XS} {
      margin-bottom: 20px;
      padding-#{$left}: 20px;
      padding-#{$right}: 20px;
    }
    &-title {
      margin-bottom: 0;
      flex: 0 0 auto;
      color: $darkest;
      @media #{$M_SM} {
        margin-bottom: 14px;
      }
    }
    &-tools {
      @include list-reset;
      margin-#{$left}: auto;
      margin-#{$right}: -5px;
      flex: 0 0 auto;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: flex-start;
      @media #{$M_SM} {
        margin-#{$left}: -5px;

        flex: 1 1 100%;
  
        justify-content: flex-start;
      }
    }
    &-tool {
      position: relative;
      padding: 0 5px;
      flex: 0 0 auto;
    }
    &-btn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
      .icon {
        margin-#{$right}: 10px;
        display: block;
        fill: $white;
        &-edit {
          width: 16px;
          height: 16px;
        }
        &-checkin {
          width: 20px;
          height: 14px;
        }
        &-checkout {
          width: 20px;
          height: 16px;
        }
        &-send {
          margin-bottom: -1px;
          width: 16px;
          height: 18px;
        }
      }
      &-text {
        margin-#{$right}: 5px;
        display: block;
      }
    }
  }
  &-content {
    padding: 22px 20px;
    flex: 1 1 0;
    min-height: 0;
    overflow-y: auto;
    border-radius: 2px;
    background-color: $white;
    box-shadow: 0px 0 6px rgba($black, 0.04);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    @media #{$M_SM} {
      padding: 20px;
    }
    &-toolbar {
      margin-#{$right}: -5px;
      margin-#{$left}: -5px;

      flex: 0 0 auto;
    }
    &-tools {
      @include list-reset;
      padding-bottom: 10px;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-content: flex-start;
      align-items: flex-start;
      @media #{$M_SM} {
        justify-content: flex-start;
      }
    }
    &-tool {
      margin-bottom: 10px;
      padding: 0 5px;
      flex: 0 0 auto;
    }
    &-tool-btn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: center;

      @media #{$M_SM} {
        font-size: 12px;
        line-height: 1.41667;
      }
      .icon {
        margin-#{$right}: 10px;
        display: block;
        fill: $manatee;
        @media #{$M_SM} {
          display: none;
        }
        &-reciept {
          width: 14px;
          height: 14px;
        }
        &-discount {
          width: 16px;
          height: 13px;
        }
        &-add-refund {
          margin-#{$right}: 8px;
          width: 17px;
          height: 15px;
        }
        &-rates {
          margin-#{$right}: 8px;
          width: 19px;
          height: 16px;
        }
        &-invoice {
          width: 20px;
          height: 16px;
        }
      }
      &-text {
        display: block;
      }
    }
  }
} 
