.zr-night-audit {
  position: fixed;
  top: 0;
  bottom: 0;
  #{$left}: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  z-index: 1000;
  color: $white;
  transition: all 0.5s ease-in;
  &.zr-night-audit--is-postponed {
    #{$left}: 100%;
    background-color: transparent;
  }
  &-label {
    position: absolute;
    #{$right}: 100%;
    bottom: 15%;
    margin-top: -82px;
    display: flex;
    justify-content: center;
    width: 42px;
    height: 194px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: $zr-audit-label-bg;    
    cursor: pointer;
  }

  &-sidepanel {
    display: flex;
    flex-direction: column;
    position:absolute;
    #{$right}: 0;
    top: 0;
    bottom: 0;
    width: 360px;
    height: 100%;
    padding: 175px 25px 25px;
    background-color: $gray-800;
  }

  &-logo {
    text-align: center;

    .logo {
      margin: 20px;
    }
    .title {
      font-size: 50px;
      line-height: 48px;
      font-weight: 600;
      margin: 0;
    }
    .subtitle {
      font-size: 24px;
      line-height: 40px;
      font-weight: 600;
      margin: 0;
    }
    .date {
      font-size: 20px;
      line-height: 40px;
      font-weight: 600;
      margin: 0;
    }
  }

  &-content {
    .description {
      opacity: 0.5;
      padding: 0 50px;
      text-align: center;
    }
  }

  &-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    .btn {
      width: 140px;
      text-transform: uppercase;
      font-weight: 500;
      display: block;
      margin: 20px auto;
    }
  }

  &-action-group {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;

    .btn {
      width: 140px;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  &-spinner-box {
    border-radius: 50%;
    width: 68px;
    height: 68px;
    border: 6px solid rgba(255,255,255,0.035);
    margin: 60px auto 30px;
  }

  &-spinner {
    border-radius: 50%;
    width: 56px;
    height: 56px;
    font-size: 10px;
    position: relative;
    border: 6px solid rgba(255, 255, 255, 0.15);
    border-left: 6px solid $success;
    border-bottom: 6px solid $success;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: zr-audit-spinner 1.15s infinite linear;
    animation: zr-audit-spinner 1.15s infinite linear;
    &:before,
    &:after {
      position: absolute;
      left: 1px;
      top: 2px;
      display: block;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $success;
    }
    &:after {
      left: auto;
      top: auto;
      right: 1px;
      bottom: 2px;
    }
  }
    
  .zr-label-vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }

}

@-webkit-keyframes zr-audit-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes zr-audit-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
