.card.shadow.mb-4
  = link_to "#audits", class: 'd-block card-header py-3 collapsed',
                       data: { toggle: 'collapse' },
                       role: 'button',
                       aria: { expanded: true, controls: 'audits'} do
    h6.m-0.font-weight-bold.text-primary
      ' Audits:
      = @hotel.audits.count

  .collapse#audits
    .card-body
      table.table.table.table-bordered.is-breakable
        tr
          th = ::Audits::Audit.human_attribute_name(:id)
          th = ::Audits::Audit.human_attribute_name(:hotel_id)
          th = ::Audits::Audit.human_attribute_name(:status)
          th = ::Audits::Audit.human_attribute_name(:started_at)
          th Period
          / th = sort_link(@q, :status_eq, 'Status')
          th Actions
        = render collection: @hotel.audits, partial: 'admin/audits/item', as: :audit
