tr *{id: dom_id(hotel)}
  td = hotel.id
  td = hotel.user ? (link_to hotel.user.email, admin_user_path(hotel.user_id)) : '-'
  td = "#{hotel.name} | #{hotel.name_ar}"
  td = hotel.room_types.count
  td = hotel.reservations.count
  td
    = link_to 'Details', admin_hotel_path(hotel), class: 'btn btn-primary btn-sm'
