.row
  .col-lg-12
    = search_form_for @q, url: admin_hotels_path, builder: SimpleForm::FormBuilder, class: 'form-inline' do |f|
     .form-row
        .col
          = f.input :id_eq, label: 'Hotel ID', required: false, input_html: { class: 'form-control' }
        .col
          = f.input :name_or_name_ar_or_user_email_cont, label: 'Name or owner email',
                                                                           required: false,
                                                                           input_html: { class: 'form-control', type: 'text' }

        = f.submit 'Search', class: 'btn btn-primary mt-4'
br
