.row
  .col-lg-12
    h1.page-header Hotels

hr.sidebar-divider

= render 'search'

hr.sidebar-divider

.row
  .col-lg-12
    table.table.table.table-bordered.is-breakable
      tr
        th = ::Audits::Audit.human_attribute_name(:id)
        th Owner
        th Name
        th Room Types Count
        th Reservations Count
        th Actions

      = render collection: @hotels, partial: 'item', as: :hotel

.row
  .col-lg-12
    = paginate @hotels
