.row
  .col-lg-2
    h1.page-header = "Hotel ##{@hotel.id}"

.row
  .col-lg-12
    - attrs = Hotels::Hotel.new.attributes.without("updated_at").keys
    .card.shadow.mb-4
      = link_to "#base", class: 'd-block card-header py-3',
                           data: { toggle: 'collapse' },
                           role: 'button',
                           aria: { expanded: true, controls: 'base'} do
        h6.m-0.font-weight-bold.text-primary Base info

      .collapse.show#base
        .card-body
          table.table.table-bordered.small
            tbody
              - attrs.each do |attr_name|
                tr
                  td = attr_name.humanize
                  td = @hotel.public_send(attr_name)
              tr
                td Owner email
                td = link_to @hotel.user.email, admin_user_path(@hotel.user)

          h5 Reservations counters

          table.table.table-bordered.small
            thead
              tr
                - (Reservations::Reservation.statuses.keys + %w[direct default_dnr cut_dnr]).each do |key|
                  th = "#{key.humanize}"
            tbody
              tr
              - (Reservations::Reservation.statuses.keys + %w[direct default_dnr cut_dnr]).each do |key|
                td = @hotel.reservations.public_send(key).count

    = render 'audits'
