.row
  .col-lg-12
    h2.page-header Service Wroker State

hr.sidebar-divider

.row
  .col-lg-12
    h4 Service Worker Instances

    table.table.table-bordered.small
      thead
        tr
          th Scope
          th Status
          th Instance
      tbody#serviceworkers-table-body
  .col-lg-12
    div
      p Copy this code and insert into console to see the status there:
      code
        | navigator.serviceWorker.getRegistrations()
        |  .then((registrations) => {
        |    console.log('REGISTRATIONS: ', registrations);
        |    registrations.map(registration => {
        |      const status = registration.active ? 'yes' : 'no';
        |      return console.log('scope: ', registration.scope, ' | activated: ', status, ' | instance', registration);
        |  })
        | });

hr.sidebar-divider

.row
  .col-lg-12
    h4 Cache Storage
    table.table.table-bordered.small
      thead
        tr
          th Cache Name
          th Keys
      tbody#cache-storage-table-body
  .col-lg-12
    div
      p Copy this code and insert into console to see the status there:
      code
        | caches.keys().then((cacheNames) => {
        |   console.log('CACHE_NAMES: ', cacheNames);
        |   cacheNames.forEach(cacheName => {
        |     caches.open(cacheName).then((cache) => {
        |       console.log('CACHE DATA FOR ', cacheName);
        |       cache.keys().then((keys) =>{ console.log('KEYS: ', keys)})
        |     });
        |   })
        | });

= javascript_pack_tag 'serviceworker_state'
