h2.zr-login-title
  = t('.sign_in')
h4.zr-login-subtitle
  = t('.enter_your_details_below')

fieldset.zr-login-formset
  = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "zr-login-form"}) do |f|
    .zr-login-form-body
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_email"
            = t('.email')
          - if flash[:alert] && (flash[:alert].include?('Invalid') || flash[:alert].include?('خاطئة'))
            span.zr-validation-msg.error
              span.zr-validation-msg-text
                = t('devise.failure.invalid')
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
          - elsif flash[:alert] && (flash[:alert].include?('confirm') || flash[:alert].include?('عنوان بريدك'))
            span.zr-validation-msg.error
              span.zr-validation-msg-content
                span.zr-validation-msg-text
                  = t('devise.failure.please_confirm_your_email')
                span.zr-validation-msg-text
                  = t('devise.failure.by_the_link_in_your_inbox')
              svg.icon.icon-attention aria-hidden="true"
                use xlink:href="#icon-attention"
        .zr-form-control-group.zr-form-control-group-has-status.focus
          = f.email_field :email, autofocus: true, class: 'form-control zr-input-flat', type: :text
          .zr-icon-box.zr-icon-box-success
            svg.icon.icon-check aria-hidden="true"
              use xlink:href="#icon-check"
      .form-group.under-validation.is-invalid
        .zr-label-line
          label.zr-label for="user_password"
            = t('.password')
        .zr-form-control-group.zr-form-control-group-has-status.focus
          = f.password_field :password, autocomplete: "off", class: 'form-control zr-input-flat'
          button.zr-btn-icon.zr-btn-icon-eye.zr-eye type="button" id="password-reveal"
            svg.icon.icon-eye-closed aria-hidden="true"
              use xlink:href="#icon-eye-closed"
            svg.icon.icon-eye-opened aria-hidden="true"
              use xlink:href="#icon-eye-opened"
      .form-group.zr-form-group-actions
        - if devise_mapping.rememberable?
        .zr-checkbox-wrap
          = f.check_box :remember_me, class: "zr-checkbox-field"
          label.zr-checkbox-label for="user_remember_me"
            svg.icon.icon-check aria-hidden="true"
              use xlink:href="#icon-check"
            span.zr-checkbox-label-text
              = t('.stay_signed_in')
        = render "devise/shared/forgot_link"
      .form-group.zr-form-group-btns
        = f.submit t('.sign_in'), class: "btn btn-primary zr-btn-lg"
    .zr-login-form-footer
      .zr-login-form-footer-msg
        = t('devise.shared.links.dont_have_an_account')
      = render "devise/shared/links"
