.row
  .col-xl-3.col-md-6.mb-4
    .card.border-left-primary.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-cente
          .col.mr-2
            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
              = link_to 'Hotels count', admin_hotels_path
            h5.mb-0.font-weight-bold.text-gray-800 = ::Hotels::Hotel.count

          .col-auto
            = link_to admin_hotels_path do
              i.fa.fa-hotel.fa-2x.text-gray-300

  .col-xl-3.col-md-6.mb-4
    .card.border-left-success.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-cente
          .col.mr-2
            .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
              = link_to "Current hotel ##{current_hotel.id}", admin_hotel_path(current_hotel)
            h5.mb-0.font-weight-bold.text-gray-800 = current_user.email

          .col-auto
            = link_to admin_hotel_path(current_hotel) do
              i.fa.fa-hotel.fa-2x.text-gray-300



