.row
  .col-lg-12
    = search_form_for @q, url: admin_users_path, builder: SimpleForm::FormBuilder, class: 'form-inline' do |f|
     .form-row
        .col
          = f.input :id_eq, label: 'User ID', required: false, input_html: { class: 'form-control' }
        .col
          = f.input :hotel_id_eq, label: 'Hotel ID', required: false, input_html: { class: 'form-control' }
        .col
          = f.input :email_cont, label: 'Email', required: false,
                                                 input_html: { class: 'form-control', type: 'text' }

        = f.submit 'Search', class: 'btn btn-primary mt-4'
br
