.row
  .col-lg-12
    h1.page-header Users

hr.sidebar-divider

= render 'search'

hr.sidebar-divider

.row
  .col-lg-12
    table.table.table-striped.table-bordered.is-breakable
      thead
        th ID
        th Email
        th Hotel ID
      tbody
        = render collection: @users, partial: 'item', as: :user

.row
  .col-lg-12
    = paginate @users
