.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.btn {
  padding: 7px 14px 6px;
  font-size: 13px;
  line-height: 1.308;
  &-primary {
    min-width: 125px;
    text-transform: uppercase;
    font-weight: $medium;
    .zr-payment-form-action & {
      min-width: 100px;
    }
    &:hover {
      background-color: $zr-btn-primary-bg-hover;
      border-color: $zr-btn-primary-bg-hover;
    }
    &:focus,
    &.focus {
      box-shadow: none;
    }
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus {
      box-shadow: none;
      background-color: $zr-btn-primary-bg-hover;
      border-color: $zr-btn-primary-bd-focus;
    }
  }
  &.zr-btn-lg {
    padding: 11px 19px 10px;
    min-width: 160px;
  }
  &-secondary {
    min-width: 100px;
    font-size: 14px;
    line-height: 1.215;
    border-color: #E8E9EC;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    &:focus,
    &.focus {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
    }
  }
  &.btn-fz-initial {
    font-size: 13px;
    line-height: 1.308;
  }
  &-clear {
    text-transform: uppercase;
    font-weight: $medium;
    color: $zr-link;
    &:hover {
      background-color: $zr-btn-clear-bg-hover;
      border-color: $zr-btn-clear-bg-hover;
      color: $zr-link;
    }
    &:focus {
      color: $zr-link;
      box-shadow: none;
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 700px;
  }
}

