@import "~styles/mixins";

.zr-header {
  padding: 10px 20px;
  padding-#{$right}: 10px;

  order: 0;
  flex: 0 0 70px;
  align-self: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  text-align: #{$left};
  background-color: $white;
  box-shadow: 0px 2px 6px rgba($black, 0.04);
  .zr-layout.log-in & {
    box-shadow: none;
    border-bottom: 1px solid $mystic;
  }
  @media #{$M_XS} {
    padding-#{$left}: 150px;
    justify-content: flex-end;
  }
  &-toggle {
    position: absolute;
    top: 10px;
    #{$left}: 65px;
    padding: 0;
    margin: 0;
    display: none;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    background-color: transparent;
    outline: none;
    border: 0 none;
    @media #{$M_XS} {
      display: block;
    }
    .icon {
      position: absolute;
      top: 50%;
      #{$left}: 50%;
      margin-top: -7px;
      margin-#{$left}: -10px;
      display: block;
      width: 20px;
      height: 14px;
      fill: $zr-header-item-dark;
    }
  }
  &-date {
    padding-top: 16px;

    order: 0;
    flex: 0 0 auto;
    align-self: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    font-size: 14px;
    line-height: 1.286;
    color: $manatee;
    font-weight: $medium;
    time {
      margin-#{$right}: 16px;
      display: block;
    }
    p {
      margin: 0 5px;
    }
  }

  &-navbar {
    margin-#{$left}: auto;

    order: 0;
    flex: 0 0 auto;
    align-self: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;

    @media #{$M_XS} {
      margin-#{$left}: 0;
    }
    &-list {
      @include list-reset;

      display: flex;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-content: flex-start;
      align-items: flex-start;
    }
    &-item {
      position: relative;
      padding: 0 10px;
      display: block;
      order: 0;
      flex: 0 0 auto;
      align-self: auto;
      &:before {
        position: absolute;
        #{$left}: 0;
        top: 11px;
        bottom: 11px;

        content:'';
        display: block;
        width: 1px;
        background-color: $zr-header-bd-grey;
      }
      &:first-child {
        padding-#{$right}: 0;
      }
      &:last-child:before {
        display: none;
      }
      .dropdown-menu {
        margin-top: 3px;
        #{$left}: auto !important;
        #{$right}: 10px;
        min-width: 190px;
        font-size: 13px;
        line-height: 1.31;
        text-align: #{$left};
      }
      &-offline-message {
        color: $red;
        padding-top: 13px;
      }
      .dropdown-item {
        position: relative;
        padding-top: 13px;
        padding-bottom: 12px;
        padding-#{$right}: 10px;
        padding-#{$left}: 50px;
        border-radius: 0;
        @include transition;
        text-align: #{$left};
        .icon {
          position: absolute;
          top: 50%;
          display: block;
          fill: $manatee;
          @include transition;
        }
        &:hover {
          .icon {
            fill: $white;
          }
        }
      }
      &-user {
        .dropdown-item .icon {
          #{$left}: 20px;
          &-person {
            margin-top: -8px;
            height: 16px;
            width: 15px;
          }
          &-logout {
            margin-top: -7px;
            height: 15px;
            width: 15px;
          }
        }
      }
      &-lang {
        padding-#{$right}: 20px;
        @media #{$M_XS} {
          padding-#{$right}: 10px;
          padding-#{$left}: 0;
        }
        .dropdown-menu {
          top: 100% !important;
          // #{$left}: auto !important;
          #{$right}: 20px !important;
          transform: none !important;
          @media #{$M_XS} {
            #{$right}: 10px !important;
          }
        }
        .dropdown-item .icon {
          #{$left}: 18px;
          margin-top: -6px;
          width: 20px;
          height: 13px;
        }
        .zr-layout.log-in & {
          .dropdown-menu {
            #{$right}: 0 !important;
            @media #{$M_XS} {
              #{$right}: 0 !important;
            }
          }
        }
      }
    }
    &-link {
      position: relative;
      display: block;
      min-height: 50px;
      font-size: 11px;
      line-height: 1.364;
      color: $body-color;
      @include transition;
      .zr-header-navbar-item.show &,
      &:hover {
        color: $body-color;
        text-decoration: none;
        background-color: $zr-header-item-hover;
        border-radius: 2px;
        @include transition;
      }
      &.dropdown-toggle::after {
        display: none;
      }
      .icon-arrow-down {
        position: absolute;
        #{$right}: 60px;
        top: 50%;
        margin-top: -3px;

        display: block;
        width: 11px;
        height: 7px;
        fill: $hit_gray;
      }
      span {
        display: block;
      }
      .arabic-lang {
        font-family: $font-alt;
      }
    }
    &-link-lang {
      padding-top: 17px;
      padding-#{$left}: 42px;
      padding-#{$right}: 42px;
      @media #{$M_XS} {
        padding-#{$right}: 34px;
      }
      .icon {
        position: absolute;
        top: 50%;
        &-flag-ar,
        &-flag-en {
          #{$left}: 10px;
          margin-top: -8px;
          width: 20px;
          height: 13px;
        }
        &-arrow-down {
          #{$right}: 22px;
          margin-top: -3px;
          @media #{$M_XS} {
            #{$right}: 14px;
          }
        }
      }
    }
    &-link-notification {
      padding: 10px 20px;
      fill: $zr-header-icon-fill;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: flex-start;
      align-items: center;
      &:before {
        position: absolute;
        top: 50%;
        #{$left}: 50%;
        margin-top: -15px;
        margin-#{$left}: 1px;
        content: '';
        display: block;
        opacity: 0;
        width: 12px;
        height: 12px;
        visibility: hidden;
        @include transition;
        background-color: $zr-header-icon-orange;
        border: 2px solid $white;
        border-radius: 50%;
      }
      &.new:before {
        opacity: 1;
        visibility: visible;
        @include transition;
      }
    }
    &-link-user {
      padding-top: 17px;
      padding-#{$left}: 16px;
      padding-#{$right}: 78px;
    }
    &-avatar {
      position: absolute;
      top: 50%;
      #{$right}: 10px;
      margin-top: -19px;
      display: block;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      background-color: rgba($hit_gray, 0.1);
      overflow: hidden;
    }
  }
}
