nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowrap.p-0.shadow
  a.navbar-brand.col-sm-3.col-md-2.mr-0 href="#"  ZAIRE
  input.form-control.form-control-dark.w-100 aria-label="Search" placeholder="Search" type="text" /
  ul.navbar-nav.px-3
    li.nav-item.text-nowrap
      a.nav-link href="#"  Sign out
