doctype html
html
  head
    title Admin | Zaire

    / = stylesheet_link_tag    'admin', media: 'all'
    / = javascript_include_tag 'admin'
    = stylesheet_pack_tag 'admin'
    = javascript_pack_tag 'app_admin'

    = csrf_meta_tags
  body
    #wrapper
      = render 'layouts/admin/sidebar'
      #content-wrapper.d-flex.flex-column
        #content
          nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow
            = render 'layouts/admin/header'

          .container-fluid
            = render 'layouts/admin/alerts'

            = yield

            .modal.fade#popover{ tabindex="-1" role="dialog" aria-labelledby="myModalLabel" }
            #main_modal_backdrop{style='display: none;'}

          footer.sticky-footer
