- locale_dir = I18n.locale == :ar ? {dir: 'rtl'} : {dir: 'ltr'}
doctype html
html
  head
    title
      | ZAIRE
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag('locales')
    = javascript_include_tag('cable')

    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"

    javascript:
      window.locale = "#{I18n.locale}";

  body *locale_dir
    = yield
