- locale_dir = I18n.locale == :ar ? {dir: 'rtl'} : {dir: 'ltr'}
doctype html
html
  head
    title
      | ZAIRE
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_include_tag('locales')
    = javascript_include_tag('cable')
    = stylesheet_pack_tag 'bootstrap' if plain_old_rails_page?
    = stylesheet_pack_tag 'application', {id: 'main-css'} if plain_old_rails_page? && I18n.locale == :en
    = stylesheet_pack_tag 'application-rtl', {id: 'second-css'} if plain_old_rails_page? && I18n.locale == :ar
    = javascript_pack_tag('application') if plain_old_rails_page?

    meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"

    javascript:
      window.locale = "#{I18n.locale}";

  body *locale_dir
    = render "devise/shared/svg-sprite"
    .zr-layout.log-in
      aside.zr-sidebar.bg-dark
        header.zr-sidebar-header
          a.zr-sidebar-logo href="/"
            span.zr-sidebar-logo-short Z
            span.zr-sidebar-logo-rest AIRE
        section.zr-sidebar-content
          .zr-sidebar-msg
            p
              = t('devise.sidebar_welcome')
      .zr-page
        header.zr-header
          nav.zr-header-navbar
            ul.zr-header-navbar-list
              li.zr-header-navbar-item.zr-header-navbar-item-lang.dropdown
                a class="zr-header-navbar-link zr-header-navbar-link-lang dropdown-toggle #{arabic? ? '' : 'arabic'}" href="#" id="language-dropdown" role="button" data-toggle="dropdown" aria-expanded="false"
                  span.zr-header-navbar-link-inner.en-active
                    svg.icon.icon-flag-en aria-hidden="true"
                      use xlink:href="#icon-flag-en"
                    span.local-name English
                  span.zr-header-navbar-link-inner.ar-active
                    svg.icon.icon-flag-ar aria-hidden="true"
                      use xlink:href="#icon-flag-ar"
                    span.arabic-lang عربي
                  svg.icon.icon-arrow-down aria-hidden="true"
                    use xlink:href="#icon-arrow-down"
                .language-menu.dropdown-menu aria-labelledby="language-dropdown"
                  a.dropdown-item href= url_for(params.permit!.to_hash.merge(only_path: false, locale: 'ar'))
                    svg.icon.icon-flag-ar aria-hidden="true"
                      use xlink:href="#icon-flag-ar"
                    span.arabic-lang عربي
                  a.dropdown-item href= url_for(params.permit!.to_hash.merge(only_path: false, locale: 'en'))
                    svg.icon.icon-flag-en aria-hidden="true"
                      use xlink:href="#icon-flag-en"
                    span.local-name English

        main.zr-main role="main"
          section.main-content.zr-main-content
            .zr-login-wrap
              - if url_for.include?('notification')
                = yield
              - else
                .zr-login
                  = yield

        footer.zr-footer
          nav.zr-footer-nav
            ul.zr-footer-nav-list
              li.zr-footer-nav-item
                a.zr-footer-nav-link href='#'
                  = t('devise.footer_about')
              li.zr-footer-nav-item
                a.zr-footer-nav-link href='#'
                  = t('devise.footer_faq')
              li.zr-footer-nav-item
                a.zr-footer-nav-link href='#'
                  = t('devise.footer_contact_us')
